.triangle {
  position: absolute;
  margin-top: 16px;
  box-sizing: border-box;
  background-color: #c3f1cf !important;
  box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.5);
  height: 186px;
  width: 242px;
  top: 120px;
  left: 75.4%;
  border: 1px solid #000;
}
.triangle::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 1px;
    margin-left: -0.5em;
    bottom: -2em;
    left: 74%;
    box-sizing: border-box; 
    border: 10px solid #000;
    border-color: transparent transparent #c3f1cf #c3f1cf;
    transform-origin: 0 0 0;
    transform: rotate(135deg);
    box-shadow: -1px 1px 1px 0 #000;
  }

  .triangleXS {
  position: absolute;
  box-sizing: border-box;
  background-color: #c3f1cf !important;
  box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.5);
  height: 157px;
  width: 200px;
  top: 70px;
  left: 48.4%;
  border: 1px solid #000;
}
.triangleXS::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 1px;
    margin-left: -0.5em;
    bottom: -2em;
    left: 85.5%;
    box-sizing: border-box; 
    border: 10px solid #000;
    border-color: transparent transparent #c3f1cf #c3f1cf;
    transform-origin: 0 0 0;
    transform: rotate(135deg);
    box-shadow: -1px 1px 1px 0 #000;
  }

  @media(min-width: 1000px) {
    .triangle {
      left: 74.5%;
      &:after {
        left: 89.2%;
      }
    }
  }

  @media(min-width: 1100px) {
    .triangle {
      left: 77%;
      &:after {
        left: 89.2%;
      }
    }
  }

  @media(min-width: 1200px) {
    .triangle {
      left: 78.4%;
      &:after {
        left: 91%;
      }
    }
  }

  @media(min-width: 1300px) {
    .triangle {
      left: 80.2%;
      &:after {
        left: 91%;
      }
    }
  }

  @media(min-width: 1400px) {
    .triangle {
      left: 81.7%;
      &:after {
        left: 90%;
      }
    }
  }
  
  @media(min-width: 1500px) {
    .triangle {
      left: 82.5%;
      &:after {
        left: 72.5%;
      }
    }
  }

  @media(min-width: 1600px) {
    .triangle {
      left: 80%;
      &:after {
        left: 75%;
      }
    }
  }

  @media(min-width: 1700px) {
    .triangle {
      left: 78.8%;
      &:after {
        left: 71.5%;
      }
    }
  }

  @media(min-width: 1800px) {
    .triangle {
      left: 77.5%;
      &:after {
        left: 69%;
      }
    }
  }

  @media(min-width: 1900px) {
    .triangle {
      left: 76%;
      &:after {
        left: 69%;
      }
    }
  }