.white-bg {
  background-color: #ffffff;
}

.opt1,
.opt2 {
  border: 1px solid #8b3a26;
  padding: 33px 30px 34px 45px;
  height: 484px;
}
.gallery-hero {
  width: 100%;
}

.gallery-atc {
  button {
    min-width: auto;
  }
}
.opt1 {
  max-height: 524px;
  max-width: 706px;

  .blurb-img {
    width: 100%;
    padding: 10px 10px 0px 20px;
  }
  h3 {
    font-family: 'CanelaText';
    line-height: 1.4;
    margin: 10px 0 10px;
    font-weight: 500;
    font-size: 28px;
    width: 516px;
  }
  p {
    font-size: 18px;
    line-height: 1.56;
    max-height: 222px;
    overflow: hidden;
  }
  .blurb-icon {
    margin-bottom: 35px;
  }
  hr {
    background-color: blue;
  }
  .leftside {
    padding-right: 54px;
  }
}

.opt2 {
  padding: 0 !important;
  margin-left: 23px;
  width: 342px;
  .gallery-prod-card {
    text-align: left;
    .prod-name-holder {
      height: 60px;
      margin-bottom: 10px;
      overflow: hidden;
      .title {
        line-height: 1.17;
        text-align: left;
        color: #003833;
        font-size: 24px;
        text-decoration: none;
        font-family: CanelaText;
      }
    }
    .variant-info {
      color: #2f2f2f;
      font-size: 13.3px;
      font-family: p22-underground, sans-serif;
      margin-bottom: 10px;
      /*overflow: hidden;*/
      strong {
        font-size: 22px;
        color: #000000;
      }
    }
    .atc-button {
      font-size: 14px;
      font-weight: 900;
      line-height: 2.14;
      letter-spacing: 1.2px;
      padding: 15px 10px;
      font-family: p22-underground, sans-serif;
    }
    .qty-button {
      font-size: 14px;
      font-weight: 900;
      line-height: 2.14;
      letter-spacing: 1.2px;
      padding: 0px 10px;
      font-family: p22-underground, sans-serif;
      margin: 8px 0;
    }
    .cta-area {
      margin-bottom: 20px;
    }
  }
  .gallery-prod-img {
    width: 100% !important;
    height: 258px !important;
    margin-bottom: 15px;
  }
  @media (min-width: 1200px) {
    .gallery-prod-img {
      height: 244px !important;
    }
  }
  @media (min-width: 1400px) {
    .gallery-prod-img {
      height: 264px !important;
    }
  }
  .pding {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .hero-holder {
    margin-bottom: 20px !important;
  }
  .blurb-img {
    display: none;
  }
  .opt1 {
    min-height: fit-content;
  }
}
