.white-bg {
  background-color: #ffffff;
}
.gallery-page {
  .beige-bg {
    background-color: #f6f5f1;
  }
}

.opt2 {
  border: 1px solid #8b3a26;
  height: 100%;
  min-height: 465px;
}
.gallery-hero {
  width: 100%;
}

.gallery-atc {
  button {
    min-width: auto;
  }
}
.opt1 {
  height: 100%;
  padding: 20px;
  .blurb-img {
    width: 100%;
    padding: 0;
    height: 428px;
  }
  .blurb-icon {
    margin-bottom: 24px;
  }
  h3 {
    font-family: 'Canela Text Web';
    color: #88341f;
    line-height: 1.4;
    margin: 0 0 24px;
    font-weight: 500;
    font-size: 28px;
  }
  p {
    font-size: 18px;
    line-height: 1.56;
    max-height: 222px;
    overflow: hidden;
    font-family: FreightTextProBook;
  }
  .icon {
    margin-bottom: 10px;
  }
  hr {
    background-color: #88341f;
  }
  .leftside {
    padding-right: 26px;
  }
  @media (min-width: 1400px) {
    .blurb-img {
      height: 417px;
    }
  }
}

.opt2 {
  padding: 0 !important;
  .gallery-prod-card {
    text-align: left;
    .prod-name-holder {
      margin-bottom: 10px;
      .title {
        line-height: 1.17;
        text-align: left;
        color: #003833;
        font-size: 24px;
        text-decoration: none;
        font-family: 'Canela Text Web';
      }
    }
    .variant-info {
      color: #2f2f2f;
      font-size: 13.3px;
      font-family: p22-underground, sans-serif;
      margin-bottom: 29px;
      /*overflow: hidden;*/
      strong {
        font-size: 22px;
        color: #000000;
        font-weight: normal;
      }
      span {
        padding-bottom: 10px;
      }
    }
    .atc-button {
      font-size: 14px !important;
      font-weight: 900 !important;
      line-height: 1.8 !important;
      letter-spacing: 1.33px !important;
      padding: 15px 10px !important;
      font-family: p22-underground, sans-serif;
    }
    .qty-button {
      font-size: 14px;
      font-weight: 900;
      line-height: 2.14;
      letter-spacing: 1.2px;
      padding: 0px 10px;
      font-family: p22-underground, sans-serif;
      margin: 8px 0;
    }
    .cta-area {
      margin: 20px 0;
      .gallery-atc {
        padding: 0 20px;
      }
    }
  }
  .gallery-prod-img {
    width: 100%;
    height: 335px;
    margin-bottom: 15px;
  }
  @media (min-width: 1200px) {
    .gallery-prod-img {
      height: 275px;
    }
  }
  .pding {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  /* .hero-holder {
    margin-bottom: 20px !important;
  } */
  .blurb-img {
    display: none;
  }
  .opt1 {
    min-height: fit-content;
  }
}

.corehealth {
  .opt1,
  .opt2 {
    border: 1px solid #003833;
  }
  h3 {
    color: #003833;
  }
  hr {
    background-color: #003833;
  }
  .opt2 .gallery-prod-card .prod-name-holder .title {
    color: #003833;
  }
}
.skinbeauty {
  .opt1,
  .opt2 {
    border: 1px solid #88341f;
  }
  h3 {
    color: #88341f;
  }
  hr {
    background-color: #88341f;
  }
  .opt2 .gallery-prod-card .prod-name-holder .title {
    color: #88341f;
  }
}
.moodenergy,
.newyear {
  .opt1,
  .opt2 {
    border: 1px solid #003670;
  }
  h3 {
    color: #003670;
  }
  hr {
    background-color: #003670;
  }
  .opt2 {
    .gallery-prod-card {
      background-color:#f6f5f1;
      .prod-name-holder .title {
        color: #003670;
      }
    }
  }
}
