.newWidth {
  width: 100% !important;
}

.reset-display {
  /* display: flex; */
  max-height: 778px;
}

.reset-image-size {
  height: auto;
  margin: 0 auto;
}

.reset-thumb-height {
  width: auto;
  height: auto;

  @media only screen and (min-width: 735.99px) {
    width: auto;
    height: auto;
  }
}
