.journal-gallery {
  .border-left {
    padding-left: 20px;
    border-left: 2px solid;
  }
  .flex {
    display: flex;
    margin-top: 25px;
  }
  .left {
    .date {
      font-family: p22-underground, sans-serif;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #000000;
      border-bottom: 2px solid;
      padding-bottom: 25px;
    }
    .tags {
      display: grid;
      border-bottom: 2px solid;
      padding-bottom: 25px;
      a {
        font-family: p22-underground, sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #000000;
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .share {
      padding: 25px 0;
      font-family: p22-underground, sans-serif;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 1.23px;
      color: #000000;
      margin-bottom: 0;
    }
    .social {
      display: flex;
      img {
        width: 40px;
        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }
  .header {
    background-color: #fdfbf9;
    text-align: center;
    h1 {
      font-family: 'Canela Text Web';
      font-size: 44px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #231f20;
      margin: 0 0 12px;
    }
    p {
      font-family: FreightTextProBook;
      font-size: 26px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      text-align: center;
      color: #585858;
      margin: 0;
    }
  }
  .shop {
    margin-bottom: 101px;
    @media (max-width: 768px) {
      margin-bottom: 44px;
    }
    .gallery-atc {
      padding: 16px;
      button {
        padding: 19px 0 !important;
        font-size: 14px !important;
        line-height: 1.9 !important;
      }
      @media (max-width: 1241px) {
        button {
          padding: 20px 0 !important;
          font-size: 13px !important;
        }
      }
      @media (max-width: 768px) {
        padding: 12px;
        button {
          padding: 8px 0 !important;
          font-size: 11px !important;
          line-height: 1.2 !important;
        }
      }
    }
    .title {
      margin-top: 55px;
      font-size: 24px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2px;
      text-align: center;
      @media (max-width: 768px) {
        margin-top: 36px;
        font-size: 18px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        text-align: center;
      }
    }
    .border {
      display: block;
      width: 10%;
      height: 2px;
      background: black;
      margin: 0px auto 68px;
      @media (max-width: 768px) {
        margin: 0px auto 42px;
        width: 20%;
      }
    }
    .card {
      font-family: 'Canela Text Web';
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      margin-bottom: 6px;
      @media (max-width: 768px) {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
      }
      @media (max-width: 410px) {
        min-height: 40px;
      }
    }
    .card-content {
      padding: 16px 16px 11px 16px;
      @media (max-width: 768px) {
        padding: 12px 12px 9px 12px;
      }
    }
    .card-button {
      padding: 16px;
      @media (max-width: 768px) {
        padding: 12px;
      }
    }
    .atc-btn {
      font-size: 16px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: 1.33px;
      text-align: center;
      font-family: p22-underground, sans-serif;
      padding: 15px !important;
      @media (max-width: 768px) {
        font-size: 12px !important;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: 1px;
        padding: 10px !important;
      }
    }
    .gallery-card {
      height: 276px;
      @media (max-width: 768px) {
        height: 164px;
      }
    }
    .variant-info {
      height: 24px;
      font-family: p22-underground, sans-serif;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    .prodType {
      height: 15px;
      font-family: p22-underground, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  .content {
    hr {
      height: 2px;
      background-color: #231f20;
      &.gray {
        background-color: gray;
        margin-bottom: 20px;
      }
    }
    h1 {
      font-family: p22-underground, sans-serif;
      font-size: 24px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2px;
      color: #000000;
      text-transform: uppercase;
      margin: 20px 0 40px;
    }
    h2,
    h2 a {
      font-family: 'Canela Text Web';
      font-size: 28px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.5px;
      color: #000000;
      margin: 25px 0 15px;
      text-decoration: none;
      text-transform: none;
    }
    p {
      font-family: FreightTextProBook;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #585858;
      margin: 0 0 24px;
    }
    a {
      font-family: p22-underground, sans-serif;
      font-size: 14px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.17px;
      color: #000000;
      text-transform: uppercase;
    }
    img {
      width: 100%;
    }
    .categoryName {
      font-family: p22-underground, sans-serif;
      font-size: 14px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.95px;
      color: #000000;
      text-transform: uppercase;
      margin-right: 5px;
    }
    .minRead {
      font-family: p22-underground, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.95px;
      color: #000000;
      text-transform: uppercase;
      margin-left: 5px;
    }
    .callout {
      margin-bottom: 48px;
      img {
        height: 445px;
      }
    }
    .calloutSmall {
      img {
        margin-bottom: 15px;
        max-height: 240px;
      }
      h2 {
        margin: 17px 0 8px;
      }
      p {
        margin: 0 0 20px;
      }
      margin-bottom: 70px;
      .flex {
        margin-top: 0;
      }
    }
    .list {
      h2 {
        margin: 15px 0 5px;
      }
      .flex {
        margin-top: 5px;
      }
    }
    .load {
      width: 100%;
      text-align: center;
      margin: 80px 0;
      button {
        width: 400px;
      }
    }
  }
  &.post {
    .center {
      text-align: center;
      margin-bottom: 55px;
      h1 {
        font-family: 'Canela Text Web';
        font-size: 48px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        text-transform: none;
        margin: 5px 0 60px;
      }
    }
    h2 {
      text-align: center;
      font-size: 42px;
    }
    .flex {
      text-align: center;
      display: block;
      margin: 0;
      .categoryName,
      .minRead {
        font-size: 22px;
        a {
          font-size: 22px;
          text-decoration: none;
        }
      }
    }
    h3,
    p > b {
      font-family: p22-underground, sans-serif;
      font-size: 26px;
      font-weight: 600;
      line-height: 1.15;
      letter-spacing: -0.43px;
    }
    p {
      font-family: FreightTextProBook;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #000000;
    }
    .related {
      background-color: #fdfbf9;
      text-align: left;
      .flex {
        text-align: left;
        .categoryName,
        .minRead,
        .categoryName a,
        .minRead a {
          font-size: 14px;
        }
      }
      h2 {
        text-align: left;
        font-size: 32px;
      }
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .journal-gallery {
    .mobile-flex {
      display: flex;
      margin-bottom: 25px;
      .tagholder,
      .icon-holder {
        width: 50%;
        padding-top: 20px;
      }
      .tags {
        min-height: 90px;
      }
      .icon-holder {
        padding-bottom: 20px;
        padding-left: 20px;
        border-bottom: 2px solid;
        border-left: 2px solid;

        min-height: 90px;
        .share {
          padding: 0 0 10px;
          font-size: 14px;
        }
        .social {
          img {
            width: 30px;
            &:first-of-type {
              margin-right: 12px;
            }
          }
        }
      }
    }
    
    .header {
      .container {
        padding-left: 16px;
        padding-right: 16px;
      }
      h1 {
        font-size: 36px;
      }
      p {
        font-size: 22px;
      }
    }
    .content {
      padding: 30px 0;
      .callout {
        margin-bottom: 48px;
        img {
          height: auto;
        }
      }
      h1 {
        font-size: 18px;
      }
      h2 {
        font-size: 28px !important;
      }
      p {
        font-size: 16px;
      }
      .list .load {
        margin: 40px 0;
        button {
          width: 100%;
          min-width: 300px;
        }
      }
    }
    &.post {
      .flex .categoryName,
      .flex .minRead {
        font-size: 16px;
        a {
          font-size: 16px;
        }
      }
      .center {
        h1 {
          font-size: 36px;
          margin-bottom: 25px;
        }
        margin-bottom: 12px;
      }
      .left {
        .date {
          text-align: center;
          font-size: 14px;
          margin-bottom: 0;
          padding-bottom: 12px;
        }
      }
      .border-left {
        padding-left: 0;
        border-left: none;
      }
      p > b {
        font-size: 16px;
      }
    }
  }
}
