html, * {
  box-sizing: border-box;
}

.label-info-wrapper {
  max-width: 1360px;
  margin: 0 auto;
  color: #000000;
}
.label-info-wrapper .top-block,
.label-info-wrapper .bottom-block {
  margin: 0 auto;
  max-width: 1128px;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}
.label-info-wrapper .top-block .card,
.label-info-wrapper .bottom-block .card {
  max-width: 680px;
  min-width: 320px;
  width: 100%;
  display: flex;
  max-width: 680px;
  width: 100%;
  flex-direction: column;
}
.label-info-wrapper .top-block .card h2,
.label-info-wrapper .bottom-block .card h2 {
  font-size: 2rem;
  font-family: Canela, serif;
}
.label-info-wrapper .top-block .card h6,
.label-info-wrapper .bottom-block .card h6 {
  font-family: P22Underground, Helvetica, serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.label-info-wrapper .top-block .card ul li,
.label-info-wrapper .bottom-block .card ul li {
  font-family: FreightTextProBook, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.label-info-wrapper .top-block .card ul.fineprint,
.label-info-wrapper .bottom-block .card ul.fineprint {
  margin-top: 30px;
}
.label-info-wrapper .top-block .card ul.fineprint li,
.label-info-wrapper .bottom-block .card ul.fineprint li {
  font-family: P22Underground;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.29;
  letter-spacing: normal;
}
@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .top-block,
.label-info-wrapper .bottom-block {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.label-info-wrapper .top-block ul {
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
}
.label-info-wrapper .top-block ul li {
  line-height: 1.6;
}
.label-info-wrapper .top-block .facts-table {
  margin-top: 30px;
}
.label-info-wrapper .top-block .facts-table table {
  max-width: 564px;
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
}
.label-info-wrapper .top-block .facts-table table th {
  font-family: P22Underground, Helvetica, sans;
  text-transform: uppercase;
}
.label-info-wrapper .top-block .facts-table table td {
  font-family: P22Underground, Helvetica, sans;
}
.label-info-wrapper .top-block .facts-table table td, .label-info-wrapper .top-block .facts-table table th {
  border: solid 1px #003833;
  padding: 30px 20px;
}
.label-info-wrapper .bottom-block {
  border-top: solid 2px #003833;
}
.label-info-wrapper .bottom-block ul {
  list-style-type: disc;
  margin: 30px 0 40px 40px;
  padding: 0;
}
.label-info-wrapper .bottom-block ul li {
  line-height: 2.2;
}
.label-info-wrapper .bottom-block h6 {
  margin: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-bottom: solid 2px #003833;
}
.label-info-wrapper .bottom-block .other-ingredients {
  border-right: solid 2px #003833;
  border-left: solid 2px #003833;
  border-bottom: solid 2px #003833;
}
@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .bottom-block .other-ingredients {
    border-left: 0;
    border-bottom: 0;
  }
}
.label-info-wrapper .bottom-block .important {
  border-right: solid 2px #003833;
  border-left: solid 2px #003833;
  border-bottom: solid 2px #003833;
}
@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .bottom-block .important {
    border: 0;
  }
}

.how-it-works-wrapper {
  box-sizing: inherit;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 50px;
  color: #000000;
}
.how-it-works-wrapper h2 {
  max-width: 700px;
  margin: 0 auto 90px auto;
  font-size: 43px;
  line-height: 50px;
  text-align: center;
}
.how-it-works-wrapper .coreBenefits {
  margin: 60px auto 0 auto;
}
.how-it-works-wrapper .topBlock,
.how-it-works-wrapper .coreBenefits {
  max-width: 1132px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.how-it-works-wrapper .topBlock {
  width: 90%;
  margin: 0 auto;
}
.how-it-works-wrapper .topBlock .leftCol,
.how-it-works-wrapper .topBlock .rightCol {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.how-it-works-wrapper .topBlock .leftCol img,
.how-it-works-wrapper .topBlock .rightCol img {
  width: 100%;
}
.how-it-works-wrapper .topBlock .leftCol .colTitle,
.how-it-works-wrapper .topBlock .rightCol .colTitle {
  text-transform: uppercase;
  width: 100%;
  font-family: P22Underground, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.28px;
  margin-top: 32px;
  margin-bottom: 15px;
  padding: 0;
}
.how-it-works-wrapper .topBlock .leftCol .colTextBody,
.how-it-works-wrapper .topBlock .rightCol .colTextBody {
  width: 100%;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  padding: 0;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .topBlock {
    width: 96%;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .how-it-works-wrapper .topBlock .leftCol,
.how-it-works-wrapper .topBlock .rightCol {
    width: 49%;
  }
}
.how-it-works-wrapper .coreBenefits {
  width: 100%;
  border-top: solid 1px #003833;
}
.how-it-works-wrapper .coreBenefits .textTitle {
  width: 100%;
  margin: 28px auto 28px auto;
  font-family: P22Underground, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.how-it-works-wrapper .coreBenefits .topBlock .cardTop {
  height: auto;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop {
    min-height: 700px;
  }
}
.how-it-works-wrapper .coreBenefits .bottomBlock {
  flex-wrap: wrap;
}
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom {
  height: auto;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom {
    min-height: 700px;
  }
}
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol {
  display: flex;
  flex-direction: column;
}
.how-it-works-wrapper .coreBenefits .topBlock,
.how-it-works-wrapper .coreBenefits .bottomBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.how-it-works-wrapper .coreBenefits .topBlock .leftCol,
.how-it-works-wrapper .coreBenefits .topBlock .rightCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .leftCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol {
  width: 100%;
  min-width: 200px;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .leftCol,
.how-it-works-wrapper .coreBenefits .topBlock .rightCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .leftCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol {
    width: 49.9%;
  }
}
.how-it-works-wrapper .coreBenefits .topBlock .leftCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .leftCol {
  border-top: solid 1px #003833;
  border-right: solid 1px #003833;
}
.how-it-works-wrapper .coreBenefits .topBlock .rightCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol {
  border-top: solid 1px #003833;
}
.how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #003833;
  margin-bottom: 60px;
}
.how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle img,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle img {
  height: 86px;
  width: auto;
  margin: 20px auto;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle img,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle img {
    margin: 0 40px 0 20px;
  }
}
.how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle h6,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle h6 {
  margin: 20px 0;
  padding: 0;
  font-family: FreightTextProBook;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle h6,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle h6 {
    margin: 70px 0;
  }
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle {
    flex-direction: row;
  }
}
.how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTextBody,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTextBody {
  width: 90%;
  margin: 0 auto 40px auto;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTextBody,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTextBody {
    margin-left: 20px;
    margin-right: 70px;
    margin-bottom: 20px;
  }
}
.how-it-works-wrapper .coreBenefits .topBlock .cardTop ul,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop ul {
  padding: 0;
  margin: 0 0 0 40px;
}
.how-it-works-wrapper .coreBenefits .topBlock .cardTop ul li,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop ul li {
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop {
    flex-direction: column;
  }
}
.how-it-works-wrapper .coreBenefits .topBlock .cardBottom .chartImage,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .chartImage {
  margin: 0 auto;
  width: 85%;
}
.how-it-works-wrapper .coreBenefits .topBlock .cardBottom .chartImage img,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .chartImage img {
  width: 100%;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardBottom .chartImage,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .chartImage {
    margin-left: 40px;
  }
}
.how-it-works-wrapper .coreBenefits .topBlock .cardBottom .blockTitle,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .blockTitle {
  width: 100%;
  padding: 28px 0 28px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid #003833;
  font-family: P22Underground, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.how-it-works-wrapper .coreBenefits .topBlock .cardBottom .blockTextBody,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .blockTextBody {
  width: 90%;
  margin: 0 auto 40px auto;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardBottom .blockTextBody,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .blockTextBody {
    margin-left: 40px;
    margin-right: 70px;
  }
}
.how-it-works-wrapper .coreBenefits .topBlock .cardBottom ul,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom ul {
  padding: 0;
  margin: 0 0 0 20px;
  list-style-type: none;
  width: 86%;
}
.how-it-works-wrapper .coreBenefits .topBlock .cardBottom ul li,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom ul li {
  font-family: Canela;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardBottom ul,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom ul {
    margin-left: 40px;
    width: 80%;
  }
}
@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock,
.how-it-works-wrapper .coreBenefits .bottomBlock {
    flex-direction: row;
  }
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media only screen and (min-width: 735.99px) {
  .step-wrapper {
    width: 1361px;
    height: 768px;
    border: solid 1px #003833;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.step-title {
  width: 245px;
  height: 40px;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 735.99px) {
.step-title {
   width: 421px;
   height: 20px;
   font-family: sans-serif;
   font-size: 20px;
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: 1.6px;
   text-align: center;
   color: #000000;
  }
}

.step-subheader {
  width: 311px;
  height: 96px;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-top: 15px;
}

@media only screen and (min-width: 735.99px) {
.step-subheader {
   width: 549px;
   height: 64px;
   font-family: FreightTextProBook;
   font-size: 20px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.6;
   letter-spacing: normal;
   text-align: center;
   color: #000000;
  }
}

.step-label {
  font-family: helvetica;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: #000000;
  padding-top: 15px;
}

img {
  width: 240px;
  height: 246.2px;
}

.step-slider {
  padding-top: 50px;
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-bottom: 50px;
}
.step-slide {
  flex-shrink: 0;
  margin: 5px;
  scroll-snap-align: start;
}

.step-slider::-webkit-scrollbar {
  height: 2px;
}

.step-slider::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.step-slider::-webkit-scrollbar-thumb {
  background: #003833;
}

@media only screen and (min-width: 735.99px) {
img {
   width: 310px;
   height: 318px;
  }
  .step-slider {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
  }
  .step-slide {
    padding: 20px;
  }
}
