.journal-gallery {
  .flex {
    display: flex;
    margin-top: 25px;
  }
  .header {
    background-color: #fdfbf9;
    text-align: center;
    .container {
      padding-left: 300px;
      padding-right: 300px;
    }
    h1 {
      font-family: 'Canela Text Web';
      font-size: 60px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #231f20;
      margin: 0 0 12px;
    }
    p {
      font-family: FreightTextProBook;
      font-size: 26px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: normal;
      text-align: center;
      color: #585858;
      margin: 0;
    }
  }
  .content {
    hr {
      height: 2px;
      background-color: #231f20;
    }
    h1 {
      font-family: p22-underground, sans-serif;
      font-size: 24px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2px;
      color: #000000;
      text-transform: uppercase;
      margin: 20px 0 40px;
    }
    h2 {
      font-family: 'Canela Text Web';
      font-size: 32px !important;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.5px;
      color: #000000;
      margin: 25px 0 15px;
    }
    p {
      font-family: FreightTextProBook;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #585858;
      margin: 0 0 24px;
    }
    a {
      font-family: p22-underground, sans-serif;
      font-size: 14px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.17px;
      color: #000000;
      text-transform: uppercase;
    }
    img {
      width: 100%;
    }
    .categoryName {
      font-family: p22-underground, sans-serif;
      font-size: 14px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.95px;
      color: #000000;
      text-transform: uppercase;
      margin-right: 5px;
    }
    .minRead {
      font-family: p22-underground, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.95px;
      color: #000000;
      text-transform: uppercase;
      margin-left: 5px;
    }
    .callout {
      margin-bottom: 48px;
      img {
        height: 445px;
      }
    }
    .calloutSmall {
      img {
        margin-bottom: 15px;
      }
      h2 {
        margin: 17px 0 8px;
      }
      p {
        margin: 0 0 20px;
      }
      margin-bottom: 70px;
      .flex {
        margin-top: 0;
      }
    }
    .list {
      h2 {
        margin: 15px 0 5px;
      }
      .flex {
        margin-top: 5px;
      }
    }
    .load {
      width: 100%;
      text-align: center;
      margin: 80px 0;
      button {
        width: 400px;
      }
    }
  }
}
/* Mobile */
@media(max-width: 768px) {
  .journal-gallery {
    .header {
      .container {
        padding-left: 16px;
        padding-right: 16px;
      }
      h1 {
        font-size: 36px;
      }
      p {
        font-size: 22px;
      }
    }
   .content {
     padding: 30px 0;
      .callout {
      margin-bottom: 48px;
      img {
        height: auto;
      }
    }
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 28px !important;
    }
    p {
      font-size: 16px;
    }
    .list .load {
      margin: 40px 0;
      button {
        width: 100%;
        min-width: 300px;
      }
    }
   }
  }
}