.home-style {
  .shopAllLink {
    color: #fff;
    background-color: #000000;
    width: 384px;
    height: 60px;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.88;
    font-stretch: normal;
    letter-spacing: 1.33px;
    font-family: p22-underground, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 0px;
    display: block;
  }
  .best-container > div {
    &:nth-of-type(1) {
      .tile {
        border: 1px solid #87331f;
        .title {
          color: #87331f;
        }
      }
    }
    &:nth-of-type(2) {
      .tile {
        border: 1px solid #1f396d;
        .title {
          color: #1f396d;
        }
      }
    }
    &:nth-of-type(3),
    &:nth-of-type(4) {
      .tile {
        border: 1px solid #003833;
        .title {
          color: #003833;
        }
      }
    }
  }
  .solutions-container > div {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      .tile {
        border: 1px solid #1f396d;
        .title {
          color: #1f396d;
        }
      }
    }
    &:nth-of-type(3),
    &:nth-of-type(4) {
      .tile {
        border: 1px solid #003833;
        .title {
          color: #003833;
        }
      }
    }
  }
  .beige-bg {
    background-color: rgba(244, 240, 238, 0.5);
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  h1 {
    font-family: p22-underground, sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.25px;
    color: #231f20;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  button {
    min-width: 282px;
    letter-spacing: 1.33px;
  }
  .mobile-banner {
    height: 500px;
    background-color: #f8e8d9;
    text-align: center;
    padding: 30px 25px;
    a {
      text-decoration: none;
    }
    h1 {
      font-family: 'Canela Text Web';
      font-size: 36px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: -0.75px;
      text-align: center;
      color: #000000;
      text-transform: none;
      text-decoration: none;
      margin: 0 auto 15px;
    }
    h2 {
      font-family: p22-underground, sans-serif;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 0.88px;
      text-align: center;
      color: #2f2f2f;
      text-transform: uppercase;
    }
  }
  .welcome {
    text-align: center;
    p {
      font-family: 'Canela Text Web';
      font-size: 44px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: -0.88px;
      text-align: center;
      color: #231f20;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        padding-top: 32px;
      }
    }
  }
  .his-hers-theirs {
    text-align: center;
    p {
      font-family: 'Canela Text Web';
      font-size: 24px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: -0.88px;
      text-align: center;
      color: #231f20;
    }
    .subheader {
      p {
        font-size: 44px;
      }
    }
    h1 {
      font-family: p22-underground, sans-serif;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.13px;
      color: #4a4a4a;
      margin: 0;
    }
    p {
      margin: 0 auto 60px;
    }
    .carousel-btn-shopAll {
      padding-top: 53px;
      display: flex;
      justify-content: center;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        justify-content: inherit;
      }
    }
  }
  .welcome {
    padding: 101px 0px 81px 0px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS styles go here */
      padding: 101px 0px 218px;
    }
    p {
      margin: 0 auto;
    }
    h1 {
      margin-top: 0;
    }
  }
  .home-bestsellers {
    text-align: center;
    border: solid #fff;
    border-width: 0.25rem 0 0;
    position: relative;
    h1 {
      margin-top: 0;
      margin-bottom: 60px;
    }
    /* &:before {
      border-right: 1rem solid transparent;
      border-bottom: calc(1rem * 1.732) solid #fff;
      border-left: 1rem solid transparent;
      height: 0;
      width: 0;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: calc(50% - 1rem);
      transform: rotate(180deg);
    } */
  }
  .section-holder {
    padding-bottom: 0;
  }
  .sectionNum0,
  .sectionNum1,
  .sectionNum2 {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 158px 0;
    display: flex;
  }
  .sectionNum1 {
    direction: rtl;
    padding: 0;
    margin: 115px 0 0;
    .section {
      text-align: left;
    }
  }
  .section {
    width: 100%;
    min-height: 600px;
    display: block;
    margin-bottom: 120px;
    h1 {
      font-family: p22-underground, sans-serif;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.13px;
      color: #4a4a4a;
      border-bottom: 1px solid #231f20;
      padding-bottom: 24px;
      max-width: 475px;
      margin-top: 0;
    }
    h2 {
      font-family: 'Canela Text Web';
      font-size: 44px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.16;
      letter-spacing: -0.82px;
      color: #231f20;
      border-bottom: 1px solid #231f20;
      padding-bottom: 20px;
      margin-top: 20px;
      max-width: 475px;
    }
    p {
      font-family: FreightTextProBook;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #000000;
      max-width: 475px;
      a {
        color: #fff;
        background-color: #000000;
        height: 60px;
        font-size: 16px;
        font-weight: 900;
        line-height: 1.88;
        font-stretch: normal;
        letter-spacing: 1.33px;
        font-family: p22-underground, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        padding: 22px 100px;
        display: initial;
      }
      &:nth-of-type(1) {
        margin-bottom: 50px;
      }
    }
    img {
      display: none;
    }
  }
  .tile {
    text-align: left;
    height: 100%;
    min-height: 465px;
    .prod-name-holder {
      margin-bottom: 5px;
      p {
        text-align: left;
        margin: 0;
      }
      .title {
        font-family: 'Canela Text Web';
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-decoration: none;
      }
    }
    .variant-info {
      font-family: p22-underground, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2f2f2f;
      strong {
        font-size: 24px;
        color: #231f20;
        font-weight: normal;
      }
    }
    .pding {
      padding: 15px;
    }
    .MuiCardActions-root {
      padding: 11px 15px 15px;
    }
    .home-atc {
      padding: 11px 15px 15px;
      button {
        min-width: 0;
        height: 60px;
      }
    }
    &.green {
      border: 1px solid #003833;
      .title {
        color: #003833;
      }
    }
    &.blue {
      border: 1px solid #1f396d;
      .title {
        color: #1f396d;
      }
    }
    &.red {
      border: 1px solid #87331f;
      .title {
        color: #87331f;
      }
    }
  }
  @media (max-width: 768px) {
    .sectionNum0,
    .sectionNum1,
    .sectionNum2 {
      background-image: none !important;
      padding: 0;
    }
    .sectionNum1 {
      margin: 0;
    }
    button {
      font-size: 16px !important;
      letter-spacing: 1.65px !important;
      // padding: 19px !important;
      height: 60px
    }
    .button-LP {
      button {
        font-size: 16px !important;
        padding: 0 0 40px !important;
        text-align: left
      }
    }
    .tile {
      .home-atc {
        button {
          height: 74.4px;
        }
      }
    }
    .shopAllLink {
      display: block;
      padding: 30px 0px;
      width: 302px;
      height: 80px;
    }
    .xs-hidden {
      display: none;
    }
    .section-container {
      padding: 0;
    }
    h1 {
      font-size: 20px;
      letter-spacing: 1.25px;
      margin-bottom: 15px;
    }
    .welcome,
    .his-hers-theirs {
      p {
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: -0.72px;
      }
    }
    .welcome {
      padding-top: 80px;
    }
    .section {
      min-height: 0px;
      margin-bottom: 0px;
      display: flex;
      flex-flow: column;
      h1 {
        margin-top: 0;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.88px;
        margin-left: 16px;
        margin-right: 16px;
        order: 2;
      }
      h2 {
        font-size: 36px !important;
        line-height: 1.17;
        letter-spacing: -0.059px;
        margin-left: 16px;
        margin-right: 16px;
        order: 3;
      }
      p {
        width: auto;
        font-size: 16px;
        line-height: 1.63;
        margin-left: 16px;
        margin-right: 16px;
        order: 4;
        a {
          font-size: 14px;
          line-height: 2.14;
          letter-spacing: 1.17px;
          padding: 19px 0;
          width: 100%;
          display: block;
          text-align: center;
        }
      }
      img:nth-of-type(2) {
        display: block;
        position: relative;
        margin-top: 0;
        right: 0;
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-bottom: 55px;
        order: 1;
      }
      &:nth-of-type(2) {
        h1 {
          margin-left: 0;
          margin-right: 16px;
          margin-left: 16px;
        }
        h2 {
          margin-left: 0;
          margin-right: 16px;
          margin-left: 16px;
        }
        p {
          margin-left: 0;
          margin-right: 16px;
          margin-left: 16px;
        }
        img {
          position: relative;
          margin-top: 30px;
          left: 0;
          height: auto;
          width: 100%;
          margin-right: 0;
        }
      }
      &:nth-of-type(3) {
        margin-bottom: 0;
        img {
          margin-top: 30px;
        }
        p {
          a {
            padding: 25px 0;
          }
        }
      }
    }
    .tile {
      .pding {
        padding: 30px 20px 20px;
      }
      .tile-img {
        height: 335px !important;
        width: 100% !important;
      }
      .title {
        font-size: 24px;
      }

      .variant-info {
        font-size: 13.3px;
        strong {
          font-size: 22px;
        }
      }
      .home-atc {
        padding: 0 20px 30px;
      }
    }
  }
}
@media (min-width: 769px) {
  .md-hidden {
    display: none;
  }
}
.oos-home {
  padding: 0 15px 15px !important;
}
