.home-style {
  .beige-bg {
    background-color: rgba(252, 248, 244, 0.5);
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  h1 {
    font-family: p22-underground, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.5px;
    color: #231f20;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  button {
    min-width: 282px;
    letter-spacing: 1.33px;
  }
  .welcome,
  .his-hers-theirs {
    text-align: center;
    p {
      font-family: 'Canela Text Web';
      font-size: 50px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.16;
      letter-spacing: -1px;
      text-align: center;
      color: #231f20;
      margin: 0 auto 60px;
    }
  }
  .his-hers-theirs {
    h1 {
      font-family: p22-underground, sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.13px;
      color: #4a4a4a;
      margin-bottom: 0px;
    }
  }
  .welcome {
    padding-left: 300px;
    padding-right: 300px;
  }
  .home-bestsellers {
    text-align: center;
    h1 {
      margin-bottom: 60px;
    }
  }
  .section-holder {
    padding-bottom: 0;
  }
  .section {
    width: 100%;
    min-height: 600px;
    display: block;
    margin-bottom: 95px;
    h1 {
      font-family: p22-underground, sans-serif;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.13px;
      color: #4a4a4a;
      border-bottom: 2px solid #231f20;
      padding-bottom: 24px;
      max-width: 475px;
      margin-top: 0;
    }
    h2 {
      font-family: CanelaText;
      font-size: 50px !important;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.16;
      letter-spacing: -0.82px;
      color: #231f20;
      border-bottom: 1px solid #231f20;
      padding-bottom: 20px;
      margin-top: 20px;
      max-width: 475px;
    }
    p {
      font-family: FreightTextProBook;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #000000;
      max-width: 475px;
      a {
        color: #fff;
        background-color: #000000;
        height: 80px;
        font-size: 16px;
        font-weight: 900;
        line-height: 1.88;
        font-stretch: normal;
        letter-spacing: 1.33px;
        font-family: p22-underground, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        padding: 25px 100px;
      }
      &:nth-of-type(1) {
        margin-bottom: 50px;
      }
    }
    img {
      position: absolute;
      margin-top: -595px;
      right: 35px;
      height: auto;
      width: auto;
      margin-left: 165px;
    }
    &:nth-of-type(2) {
      img {
        position: absolute;
        margin-top: -540px;
        left: -130px;
        height: auto;
        width: auto;
        margin-right: 165px;
      }
      h1 {
        margin-left: 675px;
      }
      h2 {
        margin-left: 675px;
      }
      p {
        margin-left: 675px;
      }
    }
    &:nth-of-type(3) {
      margin-bottom: 0;
      img {
        margin-top: -450px;
      }
    }
  }
  .tile {
    text-align: left;
    .prod-name-holder {
      margin-bottom: 10px;
      p {
        text-align: left;
        margin: 0;
      }
      .title {
        font-family: CanelaText;
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-decoration: none;
      }
    }
    .variant-info {
      font-family: p22-underground, sans-serif;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2f2f2f;
      strong {
        font-size: 30px;
        color: #231f20;
        font-weight: normal;
      }
    }
    .pding {
      padding: 40px 35px 30px;
    }
    .home-atc {
      padding: 0 35px 40px;
    }
    &.green {
      border: 1px solid #003833;
      .title {
        color: #003833;
      }
    }
    &.blue {
      border: 1px solid #1f396d;
      .title {
        color: #1f396d;
      }
    }
    &.red {
      border: 1px solid #87331f;
      .title {
        color: #87331f;
      }
    }
  }
  @media (min-width: 1400px) {
    .section-holder {
      margin-top: 95px;
    }
    .section {
      min-height: 800px;
      img {
        position: absolute;
        margin-top: -685px;
        right: 35px;
        height: 800px;
        width: 825px;
        margin-left: 165px;
      }
      &:nth-of-type(2) {
        img {
          position: absolute;
          margin-top: -700px;
          left: -130px;
          height: 800px;
          width: 825px;
          margin-right: 165px;
        }
        h1 {
          margin-left: 875px;
        }
        h2 {
          margin-left: 875px;
        }
        p {
          margin-left: 875px;
          &:nth-of-type(2) {
            margin-bottom: 50px;
          }
        }
      }
      &:nth-of-type(3) {
        margin-bottom: 0;
        img {
          margin-top: -560px;
          height: 800px;
          width: 825px;
        }
      }
    }
  }
  @media (min-width: 1600px) {
    .section-holder {
      margin-top: 135px;
    }
    .section {
      min-height: 800px;
      img {
        position: absolute;
        margin-top: -685px;
        right: 133px;
        height: 800px;
        width: 825px;
        margin-left: 165px;
      }
      &:nth-of-type(2) {
        img {
          position: absolute;
          margin-top: -695px;
          left: -32px;
          height: 800px;
          width: 825px;
          margin-right: 165px;
        }
        h1 {
          margin-left: 875px;
        }
        h2 {
          margin-left: 875px;
        }
        p {
          margin-left: 875px;
        }
      }
      &:nth-of-type(3) {
        margin-bottom: 0;
        img {
          margin-top: -560px;
        }
      }
    }
  }
  @media (min-width: 1800px) {
    .section-holder {
      margin-top: 135px;
    }
    .section {
      min-height: 800px;
      img {
        position: absolute;
        margin-top: -685px;
        right: 284px;
        height: 800px;
        width: 825px;
        margin-left: 165px;
      }
      &:nth-of-type(2) {
        img {
          position: absolute;
          margin-top: -695px;
          left: 120px;
          height: 800px;
          width: 825px;
          margin-right: 165px;
        }
        h1 {
          margin-left: 875px;
        }
        h2 {
          margin-left: 875px;
        }
        p {
          margin-left: 875px;
        }
      }
      &:nth-of-type(3) {
        margin-bottom: 0;
        img {
          margin-top: -560px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .section-container {
      padding: 0;
    }
    h1 {
      font-size: 20px;
      letter-spacing: 1.25px;
      margin-bottom: 15px;
    }
    .welcome,
    .his-hers-theirs {
      p {
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: -0.72px;
      }
    }
    .welcome {
      padding-left: 0;
      padding-right: 0;
    }
    .section {
      min-height: 0px;
      margin-bottom: 0px;
      h1 {
        margin-top: 0;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.88px;
        margin-left: 16px;
        margin-right: 16px;
      }
      h2 {
        font-size: 36px !important;
        line-height: 1.17;
        letter-spacing: -0.059px;
        margin-left: 16px;
        margin-right: 16px;
      }
      p {
        width: auto;
        font-size: 16px;
        line-height: 1.63;
        margin-left: 16px;
        margin-right: 16px;
        a {
          font-size: 14px;
          line-height: 2.14;
          letter-spacing: 1.17px;
          padding: 25px 154px;
        }
      }
      img {
        position: relative;
        margin-top: 30px;
        right: 0;
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-bottom: 55px;
      }
      &:nth-of-type(2) {
        h1 {
          margin-left: 0;
          margin-right: 16px;
          margin-left: 16px;
        }
        h2 {
          margin-left: 0;
          margin-right: 16px;
          margin-left: 16px;
        }
        p {
          margin-left: 0;
          margin-right: 16px;
          margin-left: 16px;
        }
        img {
          position: relative;
          margin-top: 30px;
          left: 0;
          height: auto;
          width: 100%;
          margin-right: 0;
        }
      }
      &:nth-of-type(3) {
        margin-bottom: 0;
        img {
          margin-top: 30px;
        }
        p {
          a {
            padding: 25px 88px;
          }
        }
      }
    }
    .tile {
      .pding {
        padding: 30px 20px 20px;
      }
      .tile-img {
        height: 335px !important;
        width: 100% !important;
      }
      .title {
        font-size: 24px;
      }

      .variant-info {
        font-size: 13.3px;
        strong {
          font-size: 22px;
        }
      }
      .home-atc {
        padding: 0 20px 30px;
      }
    }
  }
  @media (max-width: 413px) {
    .section {
      p {
        a {
          padding: 25px 133px;
        }
      }
      &:nth-of-type(3) {
        p {
          a {
            padding: 25px 68px;
          }
        }
      }
    }
  }
  @media (max-width: 360px) {
    .section {
      p {
        a {
          padding: 25px 126px;
        }
      }
      &:nth-of-type(3) {
        p {
          a {
            padding: 25px 60px;
          }
        }
      }
    }
  }
  @media (max-width: 320px) {
    .section {
      p {
        a {
          padding: 25px 107px;
        }
      }
      &:nth-of-type(3) {
        p {
          a {
            padding: 25px 41px;
          }
        }
      }
    }
  }
}
