html,
* {
  box-sizing: border-box;
}

/* h2 {
  font-size: 22px !important;
} */

.label-info-wrapper {
  width: 100%;
  margin: 0 auto;
  color: #000000;
}
.label-info-wrapper .top-block .card.facts-table {
  font-size: 18px;
  font-family: FreightTextProBook;
}

@media only screen and (min-width: 735.99px) {
  .label-info-wrapper {
    margin-bottom: 50px;
  }
  .label-info-wrapper .bottom-block .other-ingredients,
  .label-info-wrapper .bottom-block .important {
    padding: 0 20px 0 0;
  }
}

.label-info-wrapper h2 {
  font-family: CanelaText;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  line-height: 1.25;
  font-weight: normal;
}

.label-info-wrapper .top-block,
.label-info-wrapper .bottom-block {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .bottom-block {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  h2 {
    font-size: 40px !important;
  }
}

.label-info-wrapper .top-block,
.label-info-wrapper .bottom-block {
  margin: 0 auto;
  width: 100%;
  max-width: 1128px;
}

.label-info-wrapper .top-block .card,
.label-info-wrapper .bottom-block .card {
  /* min-width: 320px; */
  width: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.label-info-wrapper .top-block .card h6,
.label-info-wrapper .bottom-block .card h6 {
  font-family: P22-underground, Helvetica, serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding-bottom: 0;
}

.label-info-wrapper .top-block .card ul li,
.label-info-wrapper .bottom-block .card ul li {
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.6;
}

.label-info-wrapper .top-block .card ul.fineprint,
.label-info-wrapper .bottom-block .card ul.fineprint {
  margin-top: 30px;
}

.label-info-wrapper .top-block .card ul.fineprint li,
.label-info-wrapper .bottom-block .card ul.fineprint li {
  font-family: P22-underground, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
}

@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .top-block .card ul.fineprint li,
  .label-info-wrapper .bottom-block .card ul.fineprint li {
    font-size: 18px;
    margin-left: 50px;
  }
}

.label-info-wrapper .top-block {
  border-top: 2px solid #003833;
  margin-top: 30px;
  padding-bottom: 45px;
  padding-top: 20px;
  text-align: left;
}

@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .top-block {
    padding-top: 60px !important;
  }
}

.label-info-wrapper .top-block ul {
  margin: 0 0 10px 0;
  padding: 0;
}

.label-info-wrapper .top-block ul li {
  list-style-type: none;
  line-height: 1.6;
}

.label-info-wrapper .top-block .facts-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.label-info-wrapper .top-block .facts-text p {
  font-size: 20px;
  font-family: FreightBookText;
  line-height: 1.6;
}

.label-info-wrapper .top-block .facts-text div h6 {
  margin: 10px 0;
}

@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .top-block .facts-text {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .label-info-wrapper .top-block .facts-text div h6 {
    margin: 0 0 10px 0;
  }

  .label-info-wrapper .top-block .facts-text div:nth-child(2) {
    width: 39%;
  }
}

.label-info-wrapper .top-block .facts-table table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
}

.label-info-wrapper .top-block .facts-table table th {
  font-family: p22-underground;
  font-size: 20px;
  line-height: 2.6;
}

.label-info-wrapper .top-block .facts-table table td {
  font-family: FreightTextProBook;
  font-size: 18px;
}

.label-info-wrapper .top-block .facts-table table td,
.label-info-wrapper .top-block .facts-table table th {
  border: solid 1px #ccd7d6;
  /* padding: 30px 20px; */
}

@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .top-block .facts-table table th:first-child {
    width: 61.2389381%;
  }

  .label-info-wrapper .top-block .facts-table table th:nth-child(2) {
    width: 19.380531%;
  }
  .label-info-wrapper .top-block .facts-table table td,
  .label-info-wrapper .top-block .facts-table table th {
    padding: 25px 40px;
  }
}

.label-info-wrapper .bottom-block {
  border-top: solid 1px #003833;
}

.label-info-wrapper .bottom-block .card {
  max-width: 680px;
  padding-top: 20px;
}

.label-info-wrapper .bottom-block ul {
  padding: 0;
}

.label-info-wrapper .bottom-block ul li {
  line-height: 2.2;
}

.label-info-wrapper .bottom-block h6 {
  margin: 0;
  width: 100%;
  padding: 20px 0;
}

.label-info-wrapper .bottom-block .other-ingredients {
  text-align: left;
}

.label-info-wrapper .bottom-block .other-ingredients h6 {
  margin-left: 20px;
}
.label-info-wrapper .bottom-block .other-ingredients p {
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.6;
}

@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .bottom-block .other-ingredients h6 {
    margin: 0;
  }
}

.label-info-wrapper .bottom-block .other-ingredients ul {
  margin: 22px 0 40px 40px;
}

.label-info-wrapper .bottom-block .other-ingredients ul li {
  list-style-type: disc;
}

@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .bottom-block .other-ingredients {
    border-right: solid 1px;
  }

  .label-info-wrapper .bottom-block .other-ingredients h6 {
    margin-left: 30;
  }

  .label-info-wrapper .bottom-block .other-ingredients ul {
    margin: 22px 0 40px 20px;
  }
}

.label-info-wrapper .bottom-block .important {
  /* border-right: solid 2px #003833;
  border-left: solid 2px #003833;
  border-bottom: solid 2px #003833; */
  border-top: solid 1px #003833;
  text-align: left;
}

.label-info-wrapper .bottom-block .important h6 {
  margin-left: 30px;
}

.label-info-wrapper .bottom-block .important ul {
  list-style-type: square;
  margin: 20px 0 40px 30px;
}

@media only screen and (min-width: 735.99px) {
  .label-info-wrapper .bottom-block .important {
    border: 0;
  }

  .label-info-wrapper .bottom-block .important h6 {
    margin-left: 60px;
  }

  .label-info-wrapper .bottom-block .important ul {
    margin: 22px 0 40px 100px;
  }
}

.how-it-works-wrapper {
  box-sizing: inherit;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #000000;
}

.how-it-works-wrapper h2:first-of-type {
  max-width: 700px;
  margin: 0 auto 50px auto;
  font-family: CanelaText;
  font-size: 44px !important;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: -1.1px;
  text-align: center;
  color: #000000;
}

.how-it-works-wrapper .topBlock .leftCol h2,
.how-it-works-wrapper .topBlock .rightCol h2,
.how-it-works-wrapper .topBlock .leftCol h2 b,
.how-it-works-wrapper .topBlock .rightCol h2 b {
  font-family: p22-underground, sans-serif;
  font-size: 18px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #000000;
  margin: 35px 0 0 !important;
  text-align: left;
  text-transform: uppercase;
}

.how-it-works-wrapper .topBlock .leftCol p,
.how-it-works-wrapper .topBlock .rightCol p,
.how-it-works-wrapper .bottomBlock .leftCol p,
.how-it-works-wrapper .bottomBlock .rightCol p {
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #000000;
}
.how-it-works-wrapper .coreBenefits {
  margin: 0 auto 0 auto;
}

.how-it-works-wrapper .topBlock,
.how-it-works-wrapper .coreBenefits {
  max-width: 1132px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.how-it-works-wrapper .topBlock {
  width: 90%;
  margin: 0 auto;
}

.how-it-works-wrapper .topBlock .leftCol,
.how-it-works-wrapper .topBlock .rightCol {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.how-it-works-wrapper .topBlock .leftCol img,
.how-it-works-wrapper .topBlock .rightCol img {
  width: 100%;
}

.how-it-works-wrapper .topBlock .leftCol .colTitle,
.how-it-works-wrapper .topBlock .rightCol .colTitle {
  text-transform: uppercase;
  width: 100%;
  font-family: P22-underground, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;

  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.44px;
  margin-top: 32px;
  margin-bottom: 15px;
  padding: 0;
}

.how-it-works-wrapper .topBlock .leftCol .colTextBody,
.how-it-works-wrapper .topBlock .rightCol .colTextBody {
  width: 100%;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 40px;
  text-align: left;
  margin: 0 auto 40px 11px;
  line-height: 1.6;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .topBlock .leftCol img,
  .how-it-works-wrapper .topBlock .rightCol img {
    height: 400px;
  }
  .how-it-works-wrapper .topBlock {
    width: 96%;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .how-it-works-wrapper .topBlock .leftCol,
  .how-it-works-wrapper .topBlock .rightCol {
    width: 49%;
    text-align: left;
  }

  .colTextBody {
    text-align: left;
    margin: 0 !important;
  }
}

.how-it-works-wrapper .coreBenefits {
  width: 100%;
  border-top: solid 1px #003833;
}

.how-it-works-wrapper .coreBenefits .textTitle {
  width: 100%;
  padding: 25px;
  font-family: P22-underground, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fcf8f4;
}
.how-it-works-wrapper .coreBenefits .topBlock .leftCol,
.how-it-works-wrapper .coreBenefits .topBlock .rightCol {
  max-height: 555px;
}
.how-it-works-wrapper .coreBenefits .topBlock .leftCol img,
.how-it-works-wrapper .coreBenefits .topBlock .rightCol img,
.how-it-works-wrapper .coreBenefits .bottomBlock .leftCol img,
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol img:first-of-type {
  height: 56px;
  width: 50px;
  position: absolute !important;
}
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol img:nth-of-type(2) {
  /* height: 335px; */
  height: auto;
  width: 100%;
}
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol p:first-of-type {
  margin-top: 0;
}
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol p:nth-of-type(2) {
  width: 100%;
  text-align: center;
}
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol a {
  font-family: p22-underground, sans-serif;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.how-it-works-wrapper .coreBenefits .topBlock .leftCol h2,
.how-it-works-wrapper .coreBenefits .topBlock .rightCol h2,
.how-it-works-wrapper .coreBenefits .bottomBlock .leftCol h2,
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol h2 {
  margin: 0px 0px 25px 65px !important;
  font-family: FreightTextProBook;
  font-size: 40px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
}
/* .how-it-works-wrapper .coreBenefits .bottomBlock .leftCol h2,
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol h2 {
  height: 94px;
} */
.how-it-works-wrapper .coreBenefits .topBlock .leftCol ul,
.how-it-works-wrapper .coreBenefits .topBlock .rightCol ul {
  list-style-type: square;
}

.how-it-works-wrapper .coreBenefits .topBlock .leftCol ul p,
.how-it-works-wrapper .coreBenefits .topBlock .rightCol ul p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.5;
}
.how-it-works-wrapper .coreBenefits .topBlock .cardTop {
  height: auto;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop {
    min-height: 555px;
  }
}

.how-it-works-wrapper .coreBenefits .bottomBlock {
  flex-wrap: wrap;
}

.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom {
  height: auto;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom {
    /* min-height: 700px; */
  }
}

.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol {
  display: flex;
  flex-direction: column;
}

.how-it-works-wrapper .coreBenefits .topBlock,
.how-it-works-wrapper .coreBenefits .bottomBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.how-it-works-wrapper .coreBenefits .topBlock .leftCol,
.how-it-works-wrapper .coreBenefits .topBlock .rightCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .leftCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol {
  width: 100%;
  min-width: 200px;
  text-align: left;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .leftCol,
  .how-it-works-wrapper .coreBenefits .topBlock .rightCol,
  .how-it-works-wrapper .coreBenefits .bottomBlock .leftCol,
  .how-it-works-wrapper .coreBenefits .bottomBlock .rightCol {
    width: 49.9%;
  }
}

.how-it-works-wrapper .coreBenefits .topBlock .leftCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .leftCol {
  border-top: solid 1px #003833;
  padding-bottom: 50px;
}

.how-it-works-wrapper .coreBenefits .topBlock .rightCol,
.how-it-works-wrapper .coreBenefits .bottomBlock .rightCol {
  border-top: solid 1px #003833;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .rightCol,
  .how-it-works-wrapper .coreBenefits .bottomBlock .rightCol {
    border-top: solid 1px #003833;
    border-left: solid 1px #003833;
    margin-right: 2.2px;
  }
}

.how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #003833;
  margin-bottom: 60px;
}

.how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle img,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle img {
  height: 86px;
  width: auto;
  margin: 20px auto;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle img,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle img {
    margin: 0 0 0 20px;
    border-bottom: none !important;
  }
  .blockTitle {
    margin: 0 !important;
  }
}

.how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle h6,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle h6 {
  margin: 20px 0;
  padding: 0;
  font-family: FreightTextProBook;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle h6,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle h6 {
    margin: 70px 0 70px 20px;
  }
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle {
    flex-direction: row;
    border-bottom: none !important;
  }
}

.how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTextBody,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTextBody {
  width: 90%;
  margin: 0 auto 40px 25px;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTextBody,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTextBody {
    margin-left: 20px;
    margin-right: 70px;
    margin-bottom: 20px;
  }
}

.how-it-works-wrapper .coreBenefits .topBlock .cardTop ul,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop ul {
  padding: 0;
  margin: 0 0 0 40px;
}

.how-it-works-wrapper .coreBenefits .topBlock .cardTop ul li,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardTop ul li {
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.4;
  letter-spacing: normal;
}
.how-it-works-wrapper .coreBenefits .bottomBlock .textTitle {
  border-bottom: solid 1px #003833;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop,
  .how-it-works-wrapper .coreBenefits .bottomBlock .content,
  .how-it-works-wrapper .coreBenefits .bottomBlock .content {
    flex-direction: column;
    padding: 60px 30px 0px 60px;
  }
  .flex-desktop {
    display: flex;
  }
}

.how-it-works-wrapper .coreBenefits .topBlock .cardBottom .chartImage,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .chartImage {
  margin: 0 auto;
  width: 85%;
}

.how-it-works-wrapper .coreBenefits .topBlock .cardBottom .chartImage img,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .chartImage img {
  width: 100%;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardBottom .chartImage,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .chartImage {
    margin-left: 40px;
  }
}

.how-it-works-wrapper .coreBenefits .topBlock .cardBottom .blockTitle,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .blockTitle {
  width: 100%;
  padding: 28px 0 28px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid #003833;
  font-family: P22-underground, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.how-it-works-wrapper .coreBenefits .topBlock .cardBottom .blockTextBody,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .blockTextBody {
  width: 90%;
  margin: 0 auto 40px auto;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardBottom .blockTextBody,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .blockTextBody {
    margin-left: 15px;
    margin-right: 70px;
    margin-top: 60px;
  }
}

.how-it-works-wrapper .coreBenefits .topBlock .cardBottom ul,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom ul {
  padding: 0;
  margin: 0 0 0 20px;
  list-style-type: none;
  width: 86%;
}

.how-it-works-wrapper .coreBenefits .topBlock .cardBottom ul li,
.how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom ul li {
  font-family: Canela;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardBottom ul,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom ul {
    margin-left: 40px;
    width: 80%;
  }
}

@media only screen and (min-width: 735.99px) {
  .how-it-works-wrapper .coreBenefits .topBlock,
  .how-it-works-wrapper .coreBenefits .bottomBlock {
    flex-direction: row;
  }
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media only screen and (min-width: 735.99px) {
  .step-wrapper {
    height: 768px;
    border: solid 1px #003833;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.step-title {
  width: 245px;
  height: 40px;
  font-family: P22-underground, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 735.99px) {
  .step-title {
    width: 421px;
    height: 20px;
    font-family: P22-underground, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: center;
    color: #000000;
  }
}

.step-subheader {
  width: 311px;
  height: 96px;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-top: 15px;
}

@media only screen and (min-width: 735.99px) {
  .step-subheader {
    width: 549px;
    height: 64px;
    font-family: FreightTextProBook;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
}

.step-label {
  font-family: P22-underground, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: #000000;
  padding-top: 15px;
}

.step-slide img {
  width: 240px;
  height: 246.2px;
}

.step-slider {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-bottom: 50px;
}

.step-slide {
  flex-shrink: 0;
  margin: 5px;
  scroll-snap-align: start;
}

.step-slider::-webkit-scrollbar {
  height: 2px;
}

.step-slider::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.step-slider::-webkit-scrollbar-thumb {
  background: #1f396d;
}

@media only screen and (min-width: 735.99px) {
  .step-slide > img {
    width: 310px;
    height: 318px;
  }

  .step-slider {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    overflow-x: visible;
    padding-top: 20px;
  }

  .step-slide {
    padding: 20px;
  }
}

.whhm-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 100%;
  align-items: center;
}

.one-box,
.two-box,
.three-box {
  width: 100%;
  height: 400px;
  border: solid 2px #1f396d;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one-label,
.two-label,
.three-label {
  height: 20px;
  font-family: P22-underground, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: #000000;
  padding-top: 40px;
}

.one-bottom-color,
.two-bottom-color,
.three-bottom-color {
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-title,
.two-title {
  font-family: FreightTextProBook;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #daeff1;
  padding: 0 25px;
}

.three-title {
  width: auto;
  height: 64px;
  font-family: FreightTextProBook;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #daeff1;
  padding-top: 15px;
}

.clock-icon {
  width: 95px;
  height: 82px;
}

.glass-icon {
  width: 80px;
  height: 89px;
}

.spoons-icon {
  width: 90px;
  height: 81px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.whhm-slider {
  padding-top: 50px;
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-bottom: 50px;
}

.whhm-slide {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.whhm-slider::-webkit-scrollbar {
  height: 2px;
}

.whhm-slider::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.whmm-slider::-webkit-scrollbar-thumb {
  background: #1f396d;
}

@media only screen and (min-width: 735.99px) {
  .whhm-wrapper {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }

  .one-box,
  .two-box,
  .three-box {
    width: 298px;
    height: 298px;
    position: relative;
  }

  .one-label,
  .two-label,
  .three-label {
    position: absolute;
    top: 290px;
    right: 0;
    left: 0;
  }

  .img-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
  }

  .one-bottom-color,
  .two-bottom-color,
  .three-bottom-color {
    position: absolute;
    bottom: 0;
  }
}
@media only screen and (min-width: 1050px) {
  .one-box,
  .three-box,
  .two-box {
    margin: 25px;
  }
}
@media only screen and (min-width: 1600px) {
  .one-box,
  .two-box,
  .three-box {
    margin: 50px;
    width: 298px;
    height: 298px;
    position: relative;
  }
  .img-container {
    top: 50px;
  }
  .one-label,
  .two-label,
  .three-label {
    top: 290px;
  }
}

/* Mobile Only */

@media (max-width: 768px) {
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop ul li,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop ul li {
    line-height: 2;
  }
  .how-it-works-wrapper {
    padding-top: 20px;
  }
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop ul,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop ul {
    padding-left: 0 !important;
  }
  .how-it-works-wrapper h2 {
    font-size: 24px !important;
    line-height: 1.33;
    letter-spacing: -1.09px;
    margin: 0 auto 25px auto;
  }
  .how-it-works-wrapper .topBlock .leftCol .colTitle,
  .how-it-works-wrapper .topBlock .rightCol .colTitle {
    margin-top: 22px;
    font-size: 16px;
    letter-spacing: 1.28px;
    margin-bottom: 8px;
  }
  .how-it-works-wrapper .topBlock .leftCol .colTextBody,
  .how-it-works-wrapper .topBlock .rightCol .colTextBody {
    font-size: 18px;
    line-height: 1.56;
    padding-bottom: 24px;
    margin: 0;
  }
  .how-it-works-wrapper .coreBenefits .textTitle,
  .how-it-works-wrapper .coreBenefits .topBlock .cardBottom .blockTitle,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .blockTitle,
  .how-it-works-wrapper .coreBenefits .topBlock .cardBottom .blockTextBody,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .blockTextBody {
    font-size: 18px;
    letter-spacing: 1.13px;
  }
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle h6,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle h6 {
    font-size: 36px;
    margin: 16px 0;
  }
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTitle,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTitle {
    border-bottom: none;
    margin-bottom: 0;
  }
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop .blockTextBody,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop .blockTextBody {
    font-size: 18px;
    line-height: 1.56;
    margin: 0 auto 8px 25px;
  }
  .how-it-works-wrapper .coreBenefits .topBlock .leftCol,
  .how-it-works-wrapper .coreBenefits .bottomBlock .leftCol {
    padding-bottom: 25px;
  }
  .how-it-works-wrapper .coreBenefits .topBlock .cardTop ul,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardTop ul,
  .how-it-works-wrapper .coreBenefits .topBlock .cardBottom .blockTitle,
  .how-it-works-wrapper .coreBenefits .bottomBlock .cardBottom .blockTitle {
    margin-bottom: 25px;
  }
  .tabpanel > div {
    padding: 16px 0;
  }
  .tabpanel h2,
  .tabpanel img,
  .tabpanel p,
  .tabpanel ul,
  .tabpanel h6 {
    padding: 0 16px !important;
  }
  .label-info-wrapper h2 {
    font-size: 27px;
  }
  .label-info-wrapper .top-block {
    border-top: none;
    padding-top: 0;
  }
  .label-info-wrapper .top-block .card h6,
  .label-info-wrapper .bottom-block .card h6 {
    font-size: 16px;
  }
  .label-info-wrapper .top-block .card ul li,
  .label-info-wrapper .bottom-block .card ul li {
    font-size: 18px;
    line-height: 1.33;
  }
  .label-info-wrapper .top-block .card ul,
  .label-info-wrapper .bottom-block .card ul {
    margin-bottom: 0;
  }
  .label-info-wrapper .top-block .facts-text div p {
    margin: 0;
    font-size: 18px;
    line-height: 1.33;
  }
  .label-info-wrapper .top-block .facts-table table th {
    font-size: 14px;
    line-height: normal;
    padding: 30px 15px;
  }
  .label-info-wrapper .top-block .facts-table table td {
    font-size: 16px;
    line-height: 1.25;
    padding: 15px;
  }
  .label-info-wrapper .bottom-block .card h6 {
    margin-left: 0;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 20px !important;
  }
  .label-info-wrapper .bottom-block .other-ingredients p {
    font-size: 18px;
  }
  .tabpanel li > p {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 734px) {
  .how-it-works-wrapper .coreBenefits .bottomBlock .leftCol img,
  .how-it-works-wrapper .coreBenefits .bottomBlock .rightCol img:first-of-type,
  .how-it-works-wrapper .coreBenefits .topBlock .leftCol img,
  .how-it-works-wrapper .coreBenefits .topBlock .rightCol img {
    position: relative !important;
    width: auto;
  }
  .how-it-works-wrapper .topBlock {
    width: 100% !important;
  }
  .how-it-works-wrapper h2:first-of-type {
    max-width: 700px;
    margin: 0 auto 40px auto;
    font-family: CanelaText;
    font-size: 24px !important;
    line-height: 1.33;
    letter-spacing: -1.09px;
  }
  .how-it-works-wrapper .topBlock .leftCol h2,
  .how-it-works-wrapper .topBlock .rightCol h2,
  .how-it-works-wrapper .topBlock .leftCol h2 b,
  .how-it-works-wrapper .topBlock .rightCol h2 b {
    font-size: 16px !important;
    letter-spacing: 1.28px;
    margin: 22px 0 0 !important;
  }
  .how-it-works-wrapper .topBlock .leftCol p,
  .how-it-works-wrapper .topBlock .rightCol p,
  .how-it-works-wrapper .bottomBlock .leftCol p,
  .how-it-works-wrapper .bottomBlock .rightCol p {
    font-size: 18px;
  }
  .how-it-works-wrapper .coreBenefits .topBlock .leftCol img,
  .how-it-works-wrapper .coreBenefits .topBlock .rightCol img,
  .how-it-works-wrapper .coreBenefits .bottomBlock .leftCol img,
  .how-it-works-wrapper .coreBenefits .bottomBlock .rightCol img:first-of-type {
    position: relative;
    margin: 20px auto;
  }
  .how-it-works-wrapper .coreBenefits .topBlock .leftCol h2,
  .how-it-works-wrapper .coreBenefits .topBlock .rightCol h2,
  .how-it-works-wrapper .coreBenefits .bottomBlock .leftCol h2,
  .how-it-works-wrapper .coreBenefits .bottomBlock .rightCol h2 {
    margin: 0 !important;
    text-align: center;
    font-size: 36px !important;
  }
  .how-it-works-wrapper .coreBenefits .topBlock .leftCol ul p,
  .how-it-works-wrapper .coreBenefits .topBlock .rightCol ul p {
    font-size: 20px;
    line-height: 1;
  }
  .how-it-works-wrapper .coreBenefits .bottomBlock .leftCol h2,
  .how-it-works-wrapper .coreBenefits .bottomBlock .rightCol h2 {
    height: auto;
  }
  .how-it-works-wrapper .coreBenefits .bottomBlock .leftCol .content,
  .how-it-works-wrapper .coreBenefits .bottomBlock .rightCol .content {
    width: 100%;
    text-align: center;
  }
  .how-it-works-wrapper .coreBenefits .bottomBlock .leftCol .content p,
  .how-it-works-wrapper .coreBenefits .bottomBlock .rightCol .content p {
    text-align: left;
  }
  .how-it-works-wrapper
    .coreBenefits
    .bottomBlock
    .rightCol
    img:nth-of-type(2) {
    height: auto;
  }
  .one-box,
  .two-box,
  .three-box {
    width: 240px;
    height: 314px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .one-bottom-color,
  .two-bottom-color,
  .three-bottom-color {
    height: 90px;
  }
}
