html,
.pdp-header {
  font-family: CanelaText;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
}

.pdp-header {
  font-size: 60px;
  color: #1f396d;
  margin: 35px 0 20px;
}

.pdp-subtitle {
  border-top: 0.01rem solid !important;
  border-bottom: 0.01rem solid !important;
  border-width: 100% !important;
  padding: 20px 0;
  font-family: p22-underground, sans-serif;
  font-size: 22px;
  padding: 20px 0;
}

.pdp-description {
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
  margin-bottom: 15px !important;
}

.pdp-direction {
  font-family: p22-underground, sans-serif !important;
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2 !important;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
}

.pdp-direction-description {
  width: 334px;
  height: 32px;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
}

.pdp-product-variant {
  padding-bottom: 30px;
}

.pdp-price {
  font-family: p22-underground, sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #000;
  letter-spacing: normal;
}

.pdp-price-dash {
  font-size: 30px;
  color: #979797;
  margin: 0 10px;
}

.pdp-price-description {
  font-family: p22-underground, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  padding-top: 4px;
}

@media only screen and (min-width: 735.99px) {
  .pdp-content {
    display: flex, relative;
    flex-direction: column;
    /* min-height: 600px; */
  }
  .pdp-subtitle {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #000000;
    border-top: 0.01rem solid !important;
    border-bottom: 0.01rem solid !important;
    border-width: 50% !important;
    padding: 20px 0;
    text-align: left;
    margin-bottom: 25px;
  }
  .pdp-direction {
    font-size: 16px;
  }
  .pdp-price-description {
    font-size: 20px;
  }
  .pdp-product-type {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .mobile-grid-modifications {
    background-color: #fdf8f2;
  }
  .pdp-content {
    padding: 25px 0 0 !important;
  }
  .mobile-padding {
    padding: 0 16px;
  }
  .mobile-padding-small {
    padding: 0 8px;
  }
  .pdp-header {
    font-size: 35px;
    margin: 0px 0 20px;
  }
  .pdp-subtitle {
    padding: 20px 16px;
    margin-bottom: 25px;
  }
}
