html,
.pdp-header {
  font-family: CanelaText;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #003732;
  padding-bottom: 30px;
}

.pdp-subtitle {
  border-top: 0.01rem solid;
  border-bottom: 0.01rem solid;
  border-width: 100%;
  padding: 10px 0 10px 0;
}

.pdp-description {
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
}

.pdp-direction {
  width: 334px;
  height: 32px;
  font-family: P22Underground;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.13px;
  color: #000000;
  text-align: left;
}

.pdp-direction-description {
  width: 334px;
  height: 32px;
  font-family: FreightTextProBook;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #000000;
  text-align: left;
}

.pdp-product-variant {
  padding-bottom: 30px;
}

.pdp-price {
  font-family: P22Underground, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #231f20;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  color: #231f20;
  padding-top: 2px;
}

.pdp-price-slash {
  width: 10px;
  font-size: 30px;
  color: #979797;
}

.pdp-price-description {
  height: 11px;
  font-family: P22Underground, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
  padding-top: 4px;
}
  
@media only screen and (min-width: 735.99px) {
  .pdp-content {
    display: flex, relative;
    flex-direction: column;
  }
  .pdp-subtitle {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #000000;
  border-top: 0.01rem solid;
  border-bottom: 0.01rem solid;
  border-width: 50%;
  padding: 5px;
  text-align: left;
  order: 2;
  position: relative;
  top: 30px;
  }
  .pdp-header {
  text-align: left;
  position: relative;
  bottom: 25px;
  }
  .pdp-product-variant {
    order: 1;
    position: relative;
    bottom: 115px;
  }
  .pdp-description {
    position: relative;
    bottom: 40px;
  }
  .pdp-direction {
   position: relative;
    bottom: 50px;
    font-size:16px;
  }
  .pdp-direction-description {
  position: relative;
    bottom: 50px;
  }
  .pdp-price-description {
    font-size: 18px;
  }
  .pdp-price-slash {
    width: 17px;
  }
}