html,
.pdp-header {
  font-family: CanelaText;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #003732;
  padding-bottom: 15px;
}

.pdp-subtitle {
  border-top: 0.01rem solid;
  border-bottom: 0.1rem solid;
  border-width: 100%;
}

