html,
.MuiTypography-h1.pdp-header {
  font-family: 'Canela Text Web';
  font-weight: 300;
  line-height: 1.1;
}

.MuiTypography-h1.pdp-header {
  font-size: 34px;
  margin: 0 0 20px;
}

.forest-green {
  color: #003833;
}

.navy {
  color: #1f396d;
}

.sienna {
  color: #87331f;
}

.plum {
  color: #621244;
}

#full-spectrum {
  padding: 0 0 8px;
  color: #553226;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 2px;
}

.cbd-content {
  padding-left: 8px;
  font-size: 24px;
}

.pdp-subtitle {
  width: 461px;
  height: 34px;
  font-family: proxima-nova, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.pdp-description {
  font-family: FreightTextProBook;
  line-height: 1.5;
  color: #000000;
}
.pdp-journal-gallery {
  max-width: 1200px;
}

.pdp-benefits {
  margin: 16px 0;

  .benefit {
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;

      img {
        width: 60px;
        height: 80px;
      }
    }

    .text {
      margin-left: 24px;
      font-family: 'Canela Text Web';
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: -0.5px;
      color: #21478c;
    }
  }
}

.text-container {
  @media only screen and (min-width: 1070px) and (max-width: 1380px) {
    max-width: 450px;
  }
  @media only screen and (min-width: 960px) and (max-width: 1070px) {
    max-width: 380px;
  }
}

.pdp-accordion {
  border-top: 2px solid #cac9c8;
  border-bottom: 2px solid #cac9c8;

  .MuiExpansionPanel-root {
    padding: 15px 0;

    &.Mui-expanded {
      .expansion-panel-title {
        .collapse-icon {
          img {
            transform: rotate(45deg);
          }
        }
      }
    }

    .expansion-panel-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title-text {
        font-size: 16px;
        font-weight: 900;
        line-height: 2;
        letter-spacing: 1.13px;
        color: #000000;
        text-transform: uppercase;
      }
      .collapse-icon {
        img {
          width: auto;
          height: 18px;
        }
      }
    }

    .MuiExpansionPanelSummary-root {
      min-height: auto;
    }

    .MuiExpansionPanelDetails-root {
      padding: 24px 0 0 !important;

      p {
        margin: 0 0 16px !important;
        font-family: FreightTextProBook;
        font-size: 18px;
        line-height: 1.67;
        color: #000000;
      }
      p:last-child {
        margin-bottom: 0 !important;
      }
      .clinical-results {
        .img-magnifier-container {
          position: relative;
          width: 260px;

          .MuiIconButton-root:hover {
            background-color: transparent;
          }

          .img-clinical-result {
            display: block;
            width: 260px;
          }
          button {
            position: absolute;
            bottom: 0px;
            right: 0px;
          }
        }
        h2 {
          text-transform: uppercase;
          line-height: 2rem;
          margin: 0;
          color: #000000;
          font-weight: 600;
        }
        h5 {
          text-transform: uppercase;
          font-size: 16px;
          margin: 0;
          line-height: 1.67;
          color: #000000;
          font-weight: 600;
        }
      }
      .ingredients {
        h2 {
          text-transform: uppercase;
          margin: 0;
          line-height: 2rem;
          color: #000000;
          font-weight: 600;
        }
        h5 {
          text-transform: uppercase;
          font-size: 16px;
          margin: 0;
          line-height: 1.67;
          color: #000000;
          font-weight: 600;
        }
      }
      .directions {
        .summary {
          margin-bottom: 20px;
          font-family: FreightTextProBook;
          font-size: 18px;
          line-height: 1.5;
          color: #000000;
        }
        .entry {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .icon {
            flex: 0 0 37px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: auto;
              height: 100%;
            }
          }
          .text {
            margin-left: 22px;
            font-family: FreightTextProBook;
            font-size: 24px;
            color: #1f396d;
            line-height: 1;
          }
        }
      }
      .faqs {
        h2 {
          text-transform: uppercase;
          margin: 0;
          line-height: 2rem;
          color: #000000;
          font-weight: 600;
        }
        h5 {
          text-transform: uppercase;
          font-size: 16px;
          margin: 0;
          line-height: 1.67;
          color: #000000;
          font-weight: 600;
        }
      }
      .supplement-facts {
        .serving-directions {
          margin-bottom: 12px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .serving,
          .supplement-facts-directions {
            width: 180px;
            h4 {
              font-family: p22-underground, sans-serif;
              font-size: 15px;
              font-weight: 900;
              line-height: 2;
              letter-spacing: 1.13px;
              color: #000000;
              text-transform: uppercase;
              margin: 0;
            }
            span {
              font-family: freight-text-pro, serif;
              font-size: 16px;
              line-height: 1.25;
              color: #000000;
              width: calc(100% - 22px);
            }
            .directions {
              margin-bottom: 7px;
            }
          }
        }
        .ingredients {
          table {
            border: 1px solid #003833;

            th {
              line-height: 1.2;
            }

            th,
            td {
              border-right: 1px solid #ccd7d6;
              border-bottom: 1px solid #ccd7d6;

              &:last-child {
                border-right: none;
              }
            }

            tbody tr:last-child td {
              border-bottom: none;
            }

            thead th {
              font-size: 14px;
              font-weight: 600;
              color: #000000;
            }

            tbody td {
              font-family: FreightTextProBook;
              font-size: 16px;
              line-height: 1.25;
              color: #000000;
            }
          }
        }
        .notes {
          margin-top: 22px;

          li {
            margin-bottom: 10px;
            p {
              font-family: p22-underground, sans-serif;
              font-size: 14px;
              color: #000000;
            }
          }

          ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
          }
        }
        .other-ingredients,
        .important {
          margin-top: 10px;

          h4 {
            font-family: p22-underground, sans-serif;
            font-size: 15px;
            font-weight: 900;
            line-height: 2;
            letter-spacing: 1.13px;
            color: #000000;
            text-transform: uppercase;
            margin: 0;
          }

          ul {
            li {
              align-items: flex-start;

              &:before {
                display: block;
                content: '';
                width: 10px;
                height: 10px;
                background: #000;
                margin-right: 12px;
                margin-top: 5px;
              }
            }

            span {
              font-family: FreightTextProBook;
              font-size: 16px;
              line-height: 1;
              color: #000000;
              width: calc(100% - 22px);
            }
          }
          .forest-green {
            ul {
              li {
                align-items: flex-start;

                &:before {
                  display: block;
                  content: '';
                  width: 10px;
                  height: 10px;
                  background: #003833;
                  margin-right: 12px;
                  margin-top: 5px;
                }
              }

              span {
                font-family: FreightTextProBook;
                font-size: 16px;
                line-height: 1;
                color: #000000;
                width: calc(100% - 22px);
              }
            }
          }
          .navy {
            ul {
              li {
                align-items: flex-start;

                &:before {
                  display: block;
                  content: '';
                  width: 10px;
                  height: 10px;
                  background: #1f396d;
                  margin-right: 12px;
                  margin-top: 5px;
                }
              }

              span {
                font-family: FreightTextProBook;
                font-size: 16px;
                line-height: 1;
                color: #000000;
                width: calc(100% - 22px);
              }
            }
          }
          .sienna {
            ul {
              li {
                align-items: flex-start;

                &:before {
                  display: block;
                  content: '';
                  width: 10px;
                  height: 10px;
                  background: #87331f;
                  margin-right: 12px;
                  margin-top: 5px;
                }
              }

              span {
                font-family: FreightTextProBook;
                font-size: 16px;
                line-height: 1;
                color: #000000;
                width: calc(100% - 22px);
              }
            }
          }
          .plum {
            ul {
              li {
                align-items: flex-start;

                &:before {
                  display: block;
                  content: '';
                  width: 10px;
                  height: 10px;
                  background: #621244;
                  margin-right: 12px;
                  margin-top: 5px;
                }
              }

              span {
                font-family: FreightTextProBook;
                font-size: 16px;
                line-height: 1;
                color: #000000;
                width: calc(100% - 22px);
              }
            }
          }
        }
      }
    }
  }
  .MuiExpansionPanel-root:before {
    background-color: #979797;
  }
  .MuiExpansionPanel-root.Mui-expanded {
    margin: 0;
  }
  .MuiExpansionPanel-root.Mui-expanded:before {
    opacity: 1;
  }
  .MuiExpansionPanel-root.Mui-expanded + .MuiExpansionPanel-root {
    border-top: 1px solid #979797;
  }
  .MuiPaper-root {
    background-color: transparent;
  }
}

.pdp-atc-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .atc-btn {
    margin-top: 34px;
    position: fixed;
    box-shadow: 0 0 8px 8px #ccc;
    bottom: 5px;
    width: 352px;
    z-index: 1;
  }

  .atc-note {
    font-family: p22-underground, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 1.13px;
    color: #707070;
    margin-top: 9px;
    text-align: center;

    .MuiLink-underlineHover {
      text-decoration: underline;
      color: #707070;
    }
  }
}

.promise-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .diamond {
    background: #000;
    height: 120px;
    width: 120px;
    text-align: center;
    transform: rotate(45deg);
    padding: 35px;
    margin-bottom: 65px;

    svg {
      width: 65px;
      transform: rotate(315deg);
      margin-top: -8px;
      margin-left: -8px;

      path {
        fill: #fff;
      }
    }
  }

  .promise-title {
    font-family: p22-underground, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.35;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 17px;
    text-align: center;
  }

  .promise-description {
    font-family: FreightTextProBook;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
  }
}

.pdp-restriction-mobile {
  font-family: p22-underground;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #585858 !important;
  padding-right: 5px;
  padding-top: 8px;
}
.pdp-info-mobile {
  position: relative;
  top: 8px;
}
.pdp-restriction {
  font-family: p22-underground;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #585858 !important;
  padding: 8px 5px 0 120px;
}
.pdp-info-icon {
  position: relative;
  top: 8px;
}

.pdp-product-variant {
  margin-bottom: 30px;
}

.pdp-price {
  font-family: p22-underground, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  letter-spacing: normal;
}

.pdp-price-dash {
  font-size: 30px;
  color: #979797;
  margin: 0 10px;
}

.pdp-price-description {
  font-family: p22-underground, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;
}
.research-sources {
  margin-bottom: 60px;
}
.research-sources h2 {
  font-family: p22-underground, sans-serif;
  font-size: 18px !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.25px;
  margin-bottom: 22px;
}
.research-sources ul {
  list-style-type: none;
  padding-left: 0;
  font-family: FreightTextProBook;
  font-size: 12px;
  margin: 0;
}
.research-sources ol {
  padding-left: 0;
  font-family: FreightTextProBook;
  font-size: 12px;
  margin: 0 0 0 12px;
}
.research-sources ul li {
  margin-bottom: 15px;
}

@media only screen and (min-width: 735.99px) {
  .research-sources h2 {
    font-size: 24px !important;
  }
  .research-sources ul {
    font-size: 14px;
  }

  .pdp-content {
    display: flex;
    flex-direction: column;
    margin-top: -16px;
  }

  .pdp-description {
    font-size: 18px;
  }
  .pdp-product-type {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .cardTop.rightCol,
  .cardBottom.rightCol,
  .facts-table th:first-of-type,
  .facts-table td:first-of-type {
    border-left: none !important;
  }
  .facts-table th:last-of-type,
  .facts-table td:last-of-type,
  .bottom-block .other-ingredients {
    border-right: none !important;
  }
  .pdp-content {
    margin-top: -16px;
  }
  .mobile-padding {
    padding: 0 16px;
  }
  .mobile-padding-small {
    padding: 0 8px;
  }
  .MuiTypography-h1.pdp-header {
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 5px;
  }
  .pdp-product-variant {
    margin-bottom: 20px;
  }
  .pdp-subtitle {
    margin-bottom: 5px;
    letter-spacing: 0.57px;
    font-size: 16px;
    font-weight: 600;
  }
  .pdp-description {
    font-size: 16px;
  }
  .pdp-price {
    font-size: 22px;
    padding-top: 5px;
  }
  .pdp-price-description {
    font-size: 12px;
    letter-spacing: 0.64px;
  }
  .pdp-benefits {
    margin: 10px 0;

    .benefit {
      .icon {
        flex: 0 0 58px;
        width: 58px;
      }
    }
  }
  .pdp-accordion {
    margin: 0 -16px;

    .MuiExpansionPanel-root {
      padding: 15px 16px;
    }
  }
  .pdp-atc-container {
    .atc-btn {
      margin-top: 6px;
      width: 375px;
      bottom: 0;

      .atc-button {
        padding: 12px 16px !important;
      }
    }
  }
}
