.checkout-wrapper {
  .justify-content {
    justify-content: space-between !important;
  }
  .cart-drawer {
    background-color: #fff;
    padding: 24px 20px;
  }
  .signup-form,
  .step-3-wrapper {
    .legal {
      .MuiTypography-body1 {
        font-size: 0.875rem;
        text-align: center;
      }
    }
    .create-account-btn {
      padding: 20px 16px;
      height: auto;
    }
    input,
    input.MuiInputBase-input {
      font-size: 18px;
    }
    input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-size: 18px;
    }

    input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: 18px;
    }

    input::-ms-input-placeholder {
      /* Microsoft Edge */
      font-size: 18px;
    }
    .MuiCheckbox-colorSecondary.Mui-checked {
      color: #553226;
    }
  }
  .MuiExpansionPanelSummary-content {
    p {
      font-family: p22-underground, sans-serif;
      line-height: 1.2;
    }
  }
  .MuiIconButton-label a {
    font-family: p22-underground, sans-serif;
    font-size: 12px !important;
    text-decoration: underline;
  }

  .step-2-wrapper,
  .step-3-wrapper {
    .MuiBox-root.MuiBox-root-226 {
      width: 100%;
    }
  }
  .step-4-wrapper {
    .MuiBox-root.MuiBox-root-275 {
      width: 100%;
      text-align: center;
    }
    p,
    a {
      font-size: 14px;
    }
  }
  .step-2-wrapper,
  .step-4-wrapper {
    button {
      // padding: 20px 16px;
      height: auto;
      letter-spacing: 1.33px;
    }
  }
  .step-3-wrapper {
    button {
      // padding: 20px 16px;
      height: auto;
      letter-spacing: 1.33px;
    }
  }
}
@media (max-width: 768px) {
  .checkout-wrapper {
    padding: 0 !important;
    .right-side {
      padding: 16px 0;
      .step-2-wrapper {
        margin: 0;
      }
      .step-3-wrapper {
        margin: 0;
      }
    }
    .button-holder-mobile > div {
      width: 100%;
      text-align: center;
    }
    .MuiIconButton-label a {
      margin-right: -85px;
    }
    .firstPanel {
      .checkoutPanel {
        margin-top: 15px;
      }
    }
    .lastPanel {
      .checkoutPanel {
        margin-bottom: 15px;
      }
    }
  }
}

// Transaction Processing / Error Message Dialog
.transaction-dialog-container {
  .MuiPaper-root {
    min-width: 826px;
    height: 294px;
  }
  .MuiDialogContent-root {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    .MuiPaper-root {
      min-width: 343px;
      height: 328px;
    }
  } 
}

// Transaction Error / Processing Message Container
.transaction-message-container {
  .title {
    font-family: CanelaText;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #231f20;
  }
  .error-subheader {
    font-family: FreightTextProBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #231f20;
    padding: 13px 160px;
  }
  .processing-subheader {
    font-family: FreightTextProBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #231f20;
    padding: 13px 160px;
  }
  @media (max-width: 768px) {
    .title {
      font-family: CanelaText;
      font-size: 36px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #231f20;
      padding: 0px 31px;
    }
    .error-subheader {
      padding: 17px 32px;
    }
    .processing-subheader {
      padding: 17px 20px;
    }
  }
}
//Braintree Iframe
.bt-payment-holder {
    display: flex;
    max-height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    color: #000;
    iframe {
      max-height: 60px;
    }
    &.focus, &.hover {
      border: 1px solid #000;
    }
  }
