#typed-str {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation: typingAnimation 8s steps(25, end) infinite;
}

// #typed-str::after {
//   content: "|";
//   position: absolute;
//   right: 0;
//   bottom: 0.1em;
//   animation: caretAnimation 1s step-end infinite;
// }

// #blinking-caret {
//   animation: caretAnimation 1s step-end infinite;
// }

@keyframes caretAnimation {
  50% {
    opacity: 0;
  }
}

@keyframes typingAnimation {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 9.5em;
  }
}