@import '../assets/styles/variables';

.footer-container {
  font-family: $sansSerif;
  font-weight: 'bold';
  background-color: #000000;
  border-top: 3px solid #000000;
  color: #ffffff;

  a {
    color: #ffffff;
  }

  a:hover,
  a:visited,
  a:active {
    text-decoration: none;
    color: #ffffff;
  }

  .h-100 {
    height: 100%;
  }
  .copy {
    margin-left: -1px;
  }

  .promise {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    padding: 40px 16px 25px;
    h3 {
      letter-spacing: 1.5px;
      font-size: 23px;
      font-weight: 600;
    }

    h4 {
      font-family: p22-underground, sans-serif;
      font-size: 24px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2.25px;
      text-align: center;
      color: #000000;
      margin-bottom: 20px;
    }
    p {
      font-family: FreightTextProBook;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      text-transform: none;
      margin: 0;
    }
    .diamond-outer {
      width: 140px;
      margin: 0 auto 75px;
    }
    .diamond {
      background: #000;
      height: 140px;
      text-align: center;
      transform: rotate(45deg);
      width: 140px;
      padding: 35px;
      svg {
        width: 65px;
        transform: rotate(315deg);
        path {
          fill: #fff;
        }
      }
    }
    @media (min-width: 1200px) {
      padding: 40px 165px;
      p {
        font-size: 20px;
      }
    }

    @media (min-width: 1600px) {
      padding: 70px 200px;
    }
  }
  .signup-box {
    text-align: left;
    font-family: freight-text-pro, sans-serif;
    font-size: 13px;
    text-transform: none;
    padding: 10px 30px 10px;
    @media (min-width: 1200px) {
      font-size: 16px;
      padding: 30px 0px 30px 50px;
    }
    form {
      display: flex;
      color: #fff;
      opacity: 1;
      div {
        &:nth-of-type(2) {
          width: 0;
        }
      }
    }
    @media (max-width: 768px) {
      form {
        .MuiFormControl-fullWidth {
          width: 100%;
        }
      }
      button {
        min-width: auto;
        padding: 0;
      }
    }
    .signup-arrow {
      margin-top: 8px;
      margin-left: -65px;
      position: absolute;
    }
    .mobile-arrow {
      margin-top: 15px;
      margin-left: -70px;
    }
  }
  .icon {
    padding: 25px;
    text-align: center;
    @media (min-width: 1200px) {
      padding: 50px 35px;
    }
    @media (min-width: 1600px) {
      padding: 50px;
    }
    img {
      vertical-align: bottom;
    }
  }
  .border-left {
    border-left: 1px solid $gray;
  }

  .border-bottom {
    border-bottom: 1px solid $gray;
  }

  .border-right {
    border-right: 1px solid $gray;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .footer-main-holder {
    width: 100%;
    padding: 25px 0 60px;

    @media (min-width: 1200px) {
      padding: 55px 0px 100px;
    }

    @media (min-width: 1600px) {
      padding: 55px 0px 100px;
    }
  }

  .footer-main {
    border: 1px solid $gray;
    min-height: 475px;

    .logo {
      padding: 20px 23px;
      svg {
        width: 65px;
        path {
          fill: #fff;
        }
      }
    }

    .title {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 20px;
      letter-spacing: 1px;
      text-align: left;

      @media (min-width: 1200px) {
        padding: 45px 50px;
      }
    }

    .links {
      text-transform: capitalize;
      li {
        padding: 0;
      }
      @media (min-width: 1200px) {
        padding: 30px 50px;
        font-size: 18px;
        line-height: 2.22;
      }
    }

    .legal {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.8px;

      @media (min-width: 320px) {
        display: flex;
        justify-content: center;
      }
      @media (min-width: 1200px) {
        border-top: 1px solid #414141;
      }
      @media (min-width: 1600px) {
        display: flex;
        justify-content: center;
      }

      ul {
        display: flex;
        text-align: center;
        @media (max-width: 450px) {
          padding: 0;
        }
        li {
          width: fit-content;
        }
      }
    }

    .row1 {
      text-align: center;
      &.logo {
        svg {
          width: 65px;
          path {
            fill: #fff;
          }
        }
      }
      &.copy-mobile {
        padding: 45px 0;
      }
    }

    .rotate {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.5px;
      @media (min-width: 1200px) {
        /* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        float: left;
        margin-top: 145px;
        margin-left: -20px;
        position: absolute;
      }
      @media (min-width: 1600px) {
        margin-left: -5px;
      }
    }

    input {
      margin: 10px 0 0;
      color: #ffffff;
      padding: 15px 10px 10px 10px;
      border: 1px solid #fff;
      background-color: #000000;
      &:hover {
        border: 1px solid #fff;
      }
    }

    input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ffffff !important;
      opacity: 1;
      /* Firefox */
      font-size: 24px;
      font-family: $brandSans;
    }

    input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #ffffff !important;
      font-size: 24px;
      font-family: $brandSans;
    }

    input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #ffffff !important;
      font-size: 24px;
      font-family: $brandSans;
    }
  }
  @media (max-width: 768px) {
    .footer-main {
      .links {
        padding: 0 25px 10px;
        font-size: 15px;
      }
      .legal ul li {
        font-size: 10px;
        font-family: p22-underground, sans-serif;
      }
    }
  }
}

.contact-container {
  div {
    &:nth-of-type(3) > div{
      margin: 16px;
      height: 588px;
    }
  }
  h4 {
    font-family: FreightTextProBook, serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #231f20;
      padding-bottom: 7px;
  }
  @media only screen and (min-width:600px)  {
    div {
      &:nth-of-type(3) > div{
        padding: 50px 0px;
        max-width: none;
        width: 796px;
        height: 534px;
        overflow-x: hidden;
      }
    }
    h5 {
      font-family: FreightTextProBook;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
      text-align: center;
      color: #231f20;
      padding: 15px 45px;
    }
    h4 {
    font-family: p22-underground, Helvetica, sans-serif;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #231f20;
   }
   .MuiDialogTitle-root {
     padding: 0px !important
   }
  }

  .MuiDialogTitle-root {
    padding: 34px 46px 25px 46px;
    .contact-title {
      font-family: CanelaText, serif;
      font-size: 30px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.27;
      letter-spacing: normal;
      text-align: center;
      color: #231f20;
      padding-bottom: 7px;
    }
    button {
      top: -9px;
      right: -9px;
    }
    @media only screen and (min-width:600px)  {
      h1 {
        font-family: CanelaText, serif;
        font-size: 38px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.26;
        letter-spacing: normal;
        text-align: center;
        color: #231f20;
        padding: 0px
      }
      h4 {
        font-family: FreightTextProBook, serif;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.41;
        letter-spacing: normal;
        text-align: center;
        color: #231f20;
      }
      button {
      top: 0px;
      right: 0px;
      }
    }
  }
  .MuiDialogContent-root {
    padding: 10px 16px;
    overflow-y: hidden; 
    svg:nth-child(1) {
       width: auto;
       height: 44px;
       margin-bottom: 10px;
    }
    p {
     font-family: p22-underground, Helvetica, sans-serif;
     font-size: 25px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #231f20;
     padding: 10px 0px;
    }
    h3 {
      font-family: P22Underground, Helvetica, sans-serif;
       font-size: 20px;
       font-weight: 300;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: center;
       color: #231f20;
       padding-top: 3px;
    }
    @media only screen and (min-width:600px)  {
      svg:nth-child(1) {
       width: fit-content;
       height: 65px;
       margin-bottom: 10px;
      }
    }
  }
}

