@import '../assets/styles/variables';

.footer-container {
  font-family: $sansSerif;
  font-weight: 'bold';
  background-color: #000000;
  border-top: 3px solid #000000;
  color: #ffffff;
  padding: 0 15px;

  @media (min-width: 1200px) {
    padding: 0 84px;
  }

  a {
    color: #ffffff;
  }

  a:hover,
  a:visited,
  a:active {
    text-decoration: none;
    color: #ffffff;
  }

  .p-20 {
    padding: 20px;
  }

  .p-40 {
    padding: 40px;
  }

  .promise {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    height: 500px;
    padding: 40px 40px 25px;
    h3 {
      letter-spacing: 1.5px;
      font-size: 23px;
      font-weight: 600;
    }

    h4 {
      letter-spacing: 1.5px;
      font-size: 20px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      font-family: freight-text-pro, sans-serif;
      line-height: 1.6;
      text-transform: none;
    }
    @media (min-width: 1200px) {
      padding: 40px 165px;
      height: 400px;
      p {
        font-size: 20px;
      }
    }

    @media (min-width: 1600px) {
      padding: 40px 360px;
    }
  }
  .signup-box {
    text-align: left;
    font-family: freight-text-pro, sans-serif;
    font-size: 13px;
    text-transform: none;
    padding: 10px 30px 0px;
    @media (min-width: 1200px) {
      font-size: 16px;
    }
    .opac {
      opacity: 0.5;
    }
    form {
      display: flex;
      color: #fff;
      opacity: 1;
      .MuiFormControl-fullWidth {
        width: 70%;
      }
    }
    .signup-arrow {
      margin-top: -50px;
      margin-left: 130px;
    }
    .mobile-arrow {
      margin-top: -20px;
      margin-right: -55px;
    }
  }
  .icon {
    padding: 20px;
    text-align: center;
    @media (min-width: 1200px) {
      padding: 30px;
    }
    img {
      vertical-align: bottom;
    }
  }
  .border-left {
    border-left: 1px solid $gray;
  }

  .border-bottom {
    border-bottom: 1px solid $gray;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .footer-main-holder {
    width: 100%;
    padding: 25px 0 60px;

    @media (min-width: 1200px) {
      padding: 55px 40px 195px;
    }

    @media (min-width: 1600px) {
      padding: 55px 200px 195px;
    }
  }

  .footer-main {
    border: 1px solid $gray;
    min-height: 475px;

    .title {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 20px;
      letter-spacing: 1px;
      text-align: left;

      @media (min-width: 1200px) {
        padding: 30px;
      }
    }

    .links {
      font-family: 'freight-text-pro';
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 1.9;
      text-transform: capitalize;
      padding: 0 0 0 20px;
      margin-bottom: 30px;
      li {
        padding-top: 0;
        padding-left: 0;
      }
      @media (min-width: 1200px) {
        padding: 30px;
        font-size: 18px;
        line-height: 2.22;
      }
    }

    .legal {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.8px;

      @media (min-width: 320px) {
        display: flex;
        justify-content: center;
      }

      @media (min-width: 1600px) {
        display: flex;
        justify-content: center;
      }

      ul {
        display: flex;
        text-align: center;
        @media (max-width: 450px) {
          padding: 0;
        }
        li {
          width: fit-content;
        }
      }
    }

    .row1 {
      text-align: center;
      padding: 30px 20px 20px;
    }

    .rotate {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1.5px;
      @media (min-width: 1200px) {
        /* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
        float: left;
        margin-top: 92px;
      }
    }

    input {
      margin: 0;
      color: #ffffff;
      padding: 10px 1px;
    }

    input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ffffff !important;
      opacity: 1;
      /* Firefox */
      font-size: 28px;
    }

    input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #ffffff !important;
      font-size: 28px;
    }

    input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #ffffff !important;
      font-size: 28px;
    }
  }
}
