@import '../assets/styles/variables';

.headerContainer {
  background-color: #f7c665;
  font-family: $sansSerif;
  font-weight: 'bold';
  letter-spacing: 1px;
  font-size: 13px;
  display: flex;
  .align-right {
    text-align: right;
  }
  .logo {
    svg {
      width: 150px;
      padding-top: 12px;
    }
  }
  .mobile-cart-icon {
    margin-left: -15px;
  }

  .sign-in-link {
    margin-left: 5px;
  }

  .top {
    display: flex;
    align-items: center;
  }

  .holder {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      .MuiButton-label {
        align-items: initial;
      }
    }
    .logo {
      svg {
        width: 240px;
      }
    }
    .h-pding {
      padding-top: 35px;
    }
  }

  .shopping-cart-wrapper,
  .sign-in-wrapper {
    display: flex;
    align-items: center;
    color: #553226;
    font-family: $brandSans;
    margin-right: 15px;
  }

  .headerBar {
    background: #b5d7bf;
    color: #466650;
    height: 64px;
    letter-spacing: 0.8px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    a {
      color: #466650;
    }
    display: flex a {
      color: #466650;
    }
    .closeIcon {
      cursor: pointer;
      position: absolute;
      top: -2px;
      right: 20px;
    }
    .closeIconMobile {
      position: absolute;
      top: 20px;
      right: 5px;
      width: 15px;
      height: 15px;
    }
    @media (min-width: 450px) {
      .headerContainer {
        .top {
          height: 60px;
        }
      }

      .mobile-cart-icon {
        margin: 0;
      }

      .sign-in-link {
        margin: 0;
      }
      .closeIconMobile {
        position: absolute;
        top: 12px;
        right: 10px;
      }
    }
    .closeIcon:focus {
      outline: none;
    }
  }

  a:hover,
  a:visited,
  a:active {
    text-decoration: none;
  }
}
.checkout-header {
  background: #f7c665;
  text-align: center;
  svg {
    width: 175px;
  }
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

@media (max-width: 450px) {
  .headerContainer {
    height: auto;
    position: sticky;
    top: 0;
    z-index: 5;

    .top {
      height: 60px;
    }
  }
}
