/* .right-side-account {
  border-left: 2px solid;
  margin-left: 20px !important;
  padding-left: 55px !important;
} */

.account-orders-mobile-table div[role='toolbar'] {
  display: none;
}
.nxTextField .MuiOutlinedInput-notchedOutline {
  border-color: #a06958;
}
.nxTextField .MuiInputBase-formControl {
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  color: #a06958;
}
.account-side-menu {
  font-family: p22-underground, sans-serif;
  font-size: 18px;
  a {
    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
}
.account-history-return {
  margin-bottom: 24px;
  color: #231f20;
  font-size: 18px;
}
.account-history-return:visted,
.account-history-return:active,
.account-history-return:hover {
  color: #231f20;
}

.account-overview {
  font-family: FreightTextProBook;
  font-size: 21px;
  strong {
    font-family: p22-underground, sans-serif;
    font-size: 18px;
    margin-right: 25px;
  }
  a {
    font-family: p22-undergrounf, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
  }
  p {
    line-height: 1.6;
  }
}
.overview-mobile {
  .MuiListItem-button {
    padding: 0;
  }
}
.account-profile {
  input {
    font-family: p22-undergrounf, sans-serif;
  }
  .MuiFormHelperText-contained {
    font-family: p22-undergrounf, sans-serif;
    font-size: 11px;
    margin: 5px 0 0;
  }
}
.account-change-password {
  input {
    font-family: p22-undergrounf, sans-serif;
  }
  .MuiFormHelperText-contained {
    font-family: p22-undergrounf, sans-serif;
    font-size: 11px;
    margin: 5px 0 0;
  }
}

.account-payment-details,
.account-addresses {
  .MuiBox-root.MuiBox-root-226 {
    width: 100%;
  }
}

.account-orders-mobile-row {
  td {
    padding-left: 16px;
  }

  .order-meta-title-item,
  .order-meta-item-info {
    font-size: 16px;
    display: inline;
  }

  .order-meta-title-item {
    font-weight: 600;
  }

  .order-meta-item-info {
    margin-left: 7px;
  }

  .order-meta-item-info a {
    padding: 0px;
  }
}

.account-orders {
  .data-table > div {
    &:first-of-type {
      padding: 0;
    }
  }
  h3 {
    font-family: 'Canela Text Web';
    font-size: 36px;
    margin-bottom: 30px;
  }
  h6 {
    font-family: p22-underground, sans-serif;
  }
  th,
  th > div {
    font-family: p22-underground, sans-serif;
    font-weight: 600;
    color: #231f20;
    font-size: 18px;
    padding: 0 10px 15px 0;
  }
  td,
  th {
    border-bottom: none;
  }
  td {
    padding: 10px 0;
    vertical-align: top;
  }
  /* tr {
    width: 100%;
    display: table;
  }
  tbody > tr {
    background-color: #fbf7f3;
    height: 50px;
    margin-bottom: 8px;
    width: 100%;
    display: table;
  } */
  tbody > tr {
    background-color: #fbf7f3;
    height: 50px;
    margin-bottom: 8px;
    td,
    td a,
    td p {
      font-family: p22-underground, sans-serif;
      font-size: 18px !important;
      text-transform: capitalize;
      @media (max-width: 959.95px) {
        // display: inline-flex;
        line-height: inherit;
        min-width: 50%;
      }
    }
    td:last-child {
      display: block;
      @media (max-width: 959.95px) {
        display: contents;
      }
    }
  }
  tfoot {
    display: none;
  }
  a,
  a:hover,
  a:visited,
  a:active {
    text-decoration: underline;
    color: #231f20;
  }
}

@media (max-width: 768px) {
  .account-orders {
    tbody > tr {
      background-color: #fbf7f3;
      height: auto;
      margin-bottom: 16px;
      display: block;
      padding: 10px;
    }
    .data-table > div {
      &:first-of-type {
        padding: 0;
      }
    }
  }
  .account-menu-box {
    display: none;
  }
  .overview-mobile {
    padding: 0 !important;
    div {
      max-width: 100%;
      width: 100%;
    }
    .stepper-item {
      span {
        color: #fff;
        font-size: 16px;
        font-family: p22-underground, sans-serif;
        padding: 17px 10px;
        font-weight: 600;
        line-height: 1.88;
      }
    }
  }
}
