.password-styles {
  background-color: #f6f5f1;
  padding: 80px 120px;
  .paper {
    padding: 50px 300px;
    text-align: center;
  }
  h1 {
    font-family: 'Canela Text Web';
    font-size: 48px;
    font-weight: 500;
  }
  p {
    font-size: 18px;
    margin-bottom: 25px;
    &.MuiFormHelperText-root {
      font-size: 11px;
      font-family: proxima-nova, sans-serif;
    }
  }
  a,
  a:hover,
  a:visited,
  a:active {
    text-decoration: none;
  }

  button.MuiButton-root,
  .black-link {
    background-color: black;
    color: #ffffff;
    width: 100%;
    margin-top: 30px;
    padding: 18.5px 14px;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.88;
    letter-spacing: 1.33px;
    text-transform: uppercase;
  }
  label {
    font-family: proxima-nova, sans-serif;
  }
  input,
  input.MuiInputBase-input {
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    padding: 22px 20px;
  }
  input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
  }

  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
  }

  input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .password-styles {
    background-color: #fff;
    padding: 20px 10px 65px;
    .paper {
      padding: 0;
    }
  }
}
