.ListBox {
  border: 1px solid #a06958;
}

.CartListBox {
  border: solid 1px #eec0b1;
}

.CounterButtonMinus {
  .MuiButton-label {
    margin-bottom: 5px;
  }
}

.CounterButtonPlus {
  .MuiButton-label {
    margin-bottom: 0px;
    margin-top: 3px;
    margin-left: 0px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input[type='text'],
textarea {
  -webkit-text-fill-color: #a06958;
  -webkit-box-shadow: 0 0 0 35px white inset !important;
}

@media screen and (max-width: 576px) {
  .xs-hidden {
    display: none;
  }
  .appMain {
    width: 100%;
    overflow: hidden;
  }
  .MuiDialog-paperWidthSm {
    width: 100%;
    min-width: 100%;
  }
}
body {
  width: 100%;
  padding: 0 !important;
}

.MuiDialog-paperWidthSm {
  max-width: 800px !important;
}

.MuiExpansionPanelSummary-root[aria-expanded='false'] {
  background-color: rgb(246, 245, 241) !important;
}
