.ListBox {
  border: 1px solid #a06958;
}

.CartListBox {
  border: solid 1px #eec0b1;
}

.CounterButtonMinus {
  .MuiButton-label {
    margin-bottom: 5px;
  }
}

.CounterButtonPlus {
  .MuiButton-label {
    margin-bottom: 0px;
    margin-top: 3px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 576px) {
  .xs-hidden {
    display: none;
  }
  .appMain {
    width: 100%;
    overflow: hidden;
  }
  .MuiDialog-paperWidthSm {
    width: 100%;
    min-width: 100%;
  }
}
body {
  width: 100%;
  padding: 0 !important;
}

.MuiDialog-paperWidthSm {
  max-width: 800px !important;
}
