.Template-1 {
  .pageTitle {
    margin: 55px 0 15px;
    @media only screen and (max-width: 600px) {
      margin: 15px 0 5px;
    }
  }
  .pageSubTitle {
    margin: 0 0 45px;
    @media only screen and (max-width: 600px) {
      margin: 0 0 10px;
    }
  }
  .hero {
    margin-bottom: 45px;
    @media only screen and (max-width: 600px) {
      margin-bottom: 25px;
    }
  }
}
