.promo-code-form {
    width: 100%;
    .promo-code-input {
        .MuiOutlinedInput-notchedOutline {
            border: none;
        }
        input {
            padding: 10px;
            border: 2px solid #cbcbcb;
            margin-right: 20px;
        }
    }

    .promo-code-input-error {
        .MuiOutlinedInput-notchedOutline {
            border: none;
        }
        input {
            padding: 10px;
            border: 2px solid red;
            margin-right: 20px;
        }
    }
}
.btError {
    display: none;
    background-color: rgba(208, 2, 27, 0.15);
    margin: 0;
    padding: 0 5px;
    min-height: 24px;
    line-height: 24px;
    font-size: 0.75rem;
    text-align: left;
    font-family: undefined, Helvetica, Arial, sans-serif;
    font-weight: 400;
}