.promo-code-form {
    width: 100%;
    .promo-code-input {
        .MuiOutlinedInput-notchedOutline {
            border: none;
        }
        input {
            padding: 10px;
            border: 2px solid #cbcbcb;
            margin-right: 20px;
        }
    }
}