.promo-code-form {
  width: 100%;
  .promo-code-input {
    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
    input {
      padding: 10px;
      border: 2px solid #cbcbcb;
      margin-right: 20px;
    }
  }

  .promo-code-input-error {
    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
    input {
      padding: 10px;
      border: 2px solid #ce0e2d;
      margin-right: 20px;
    }
  }
}
.btError {
  display: none;
  background-color: rgba(208, 2, 27, 0.15);
  margin: 0 0 6px 0;
  padding: 8px 10px 8px 20px;
  min-height: 13px;
  line-height: 24px;
  font-size: 13px;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.btError p {
  margin: 0;
  display: inline;
}
.btError svg {
  float: right;
  display: inline;
  position: relative;
  color: #ce0e2d;
  font-size: 25px;
}
::-webkit-input-placeholder,
label {
  /* Chrome/Opera/Safari */
  font-family: proxima-nova, sans-serif !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: proxima-nova, sans-serif !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: proxima-nova, sans-serif !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: proxima-nova, sans-serif !important;
}
